dg-historial {
    display: inline-block;
    vertical-align: top;
}
dg-historial .historial-ruta {
    color: #3A3A3A;
    font-size: 14px;
    font-family: 'SF Regular';
}
dg-historial .historial-ruta:last-child span {
    display: none;
}