.page-wrap {
	position: relative;
	height: calc(100vh - 128px);
}

.column-indice {
    float: left;
    position: relative;
    width: 235px;
    overflow: auto;
    transition: .2s;
}

.column-barra {
    float: left;
    position: relative;
    width: calc(100% - 235px);
	transition: .2s;
}

main.diagrama {
    position: relative;
}


.animate-width-0{
	width: 0;
	height: calc(100vh - 300px);
	transition: .2s;
}

.animate-width-full{
	width: 100%;
	transition: .2s;
}

dg-ways.animate-width-full-w{
	width: 100%;
	left: 10px;
	transition: .2s;
}

.kpis-bottom {
	z-index: 12;
    background: rgb(255,255,255);
    position: absolute;
    left: 245px;
    bottom: 31px;
    right: -9px;
    box-shadow: 0px -10px 20px rgba(0,0,0,.1);
    padding: 10px;
    transition: .2s;
}
.kpis-bottom ul{
	text-align: center;
}
.kpis-bottom ul li{
	width: 170px;
	height: 20px;
	text-align: center;
	background-color: rgb(80, 190, 197);
	color: rgb(255,255,255);
	display: inline-block;
	margin:5px;
	font-size: 12px;
	line-height: 1.5;
}

.kpis-bottom.animate-width-full-w{
	left: 10px;
	transition: .2s;
}