<!--ng Background-->
<ng-background 
    set="ba"></ng-background>

<!--ng Header-->   
<ng-header
    set-elementos-menu="elementosMenu"></ng-header>
    
<main class="processes-detail">
   
    <!--ng Breadcrumb-->
    <ng-breadcrumb 
        set="breadcrumb"
        send="getLayout"
        send-ver="getVista"
        hide-bar="hideBar"
        zoom="zoom"
        zoom-in="mas"
        zoom-out="menos"
        zoom-reset="restablecerZoom"
        print="imprimirDesdeBreadCrumb"
        ></ng-breadcrumb>

    <section class="sidebar-left" ng-class="{'close': !openBar}">
       
        <section class="container-card">
            <div class="card flipped">
                <article class="backside" ng-if="!spin">
                    <div class="dominios">Dominios</div>
                    <ng-mapside 
                        source="dominios" 
                        position="source.rutas[0]" 
                        subposition="subposicion">
                    </ng-mapside>
                </article>
            </div>
        </section>
        
        <!--ng Index-->
        <ng-index 
            source="megaprocesos"
            get="getIndex"
            ></ng-index>
        
    </section><section class="sidebar-right" ng-class="{'open': !openBar}">

        <!--ng Ways-->
        <div class="svg-container">
            
            <div 
                class="header-container" 
                ng-layouts 
                config="config" 
                layout="layout"
                ng-style="getHeaderStyle()"
                ></div>
            
            <div 
                class="diagram-container" 
                ng-class="{'top-zero': layout == 0}" 
                ng-style="getStyle()">
                
                <svg ng-ways 
                    source="procesos" 
                    catalogos="config" 
                    ver-por="layout"
                    ordenar-por="type"
                    solo-procesos="abrirCapacidades"
                    enviar-imprimir="imprimir"
                    nombre-pdf="breadcrumb.capacidad"
                    ></svg> 
            </div>

        </div>
        
    </section>
</main>