<ng-background></ng-background>
<ng-header set-elementos-menu="elementosMenu"></ng-header>
<main class="processes">
    <div class="regresar" ng-click="back()" style="margin-top: 30px;">
        <i></i>
        <span>Back</span>
    </div>
    <div class="module-title">
        <div>
            <span>Enterprise Architecture | </span> <span class="active">Explore</span>
        </div>
    </div>
    <div class="abc-activate-edition">
        <nav>
            <a href="#/procesos" class="active">Explore</a><a href="#/abc-edit">Edit</a>
        </nav>
    </div>
    <ng-flipcard
        set="source.arquitectura" 
        get="getCardFlipped" 
        rutas="source.rutas">    
    </ng-flipcard>
</main>

