/*
    Author: Alan Noé Olvera Ramos,
    Directive: ngHeader
*/

ng-header > header {
    width: 100%;
    height: 70px;
    background-color: rgb(38,38,38);
    /*background-image: url(../../../../modules/home/assets/img/Fondo-IT-Book_blur_web_2.png);*/
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}
/*ng-header > header:before {
    width: 100%;
    height: 80px;
    content: '';
    display: block;
    background-color: rgba(47, 47, 47, 0.85);
    position: fixed;
    top: 0;
    left: 0;
}*/
ng-header > header > div.logo-it-book {
    max-width: 1440px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    z-index: 2;
}

ng-header > header > div.logo-it-book > a i.logo-att {
    width: 85px;
    height: 35px;
    background-image: url(img/Logo%20AT&T.svg);
    display: inline-block;
    margin: 15px 30px 0 20px;
    position: relative;
}



ng-header > header > div.logo-it-book > p.it-book {
    font-weight: 100;
    color: #ffffff;
    display: inline-block;
    line-height: 80px;
    margin: 0;
    vertical-align: top;
/*    font-family: 'Clearview Light';*/
    font-weight: 100;
    font-size: 30px;
}

ng-header > header > div.logo-it-book > p.it-book > span:first-child {
    color: #70C5E8;
    margin-right: 10px;
}


/* INPUT */

.input-search {
    float: right;
    width: 70px;
    height: 70px;
    position: relative;
    transition: .3s;
}

.input-search.active{
    width: 400px;
    height: 70px;
    transition: .3s;
}

.input-search > input {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    position: absolute;
    top: 25px;
    left: 50px;
    font-size: 16px;
    color: #868686;
    font-family: 'Omnes Regular';
    width: calc(100% - 40px);
}

.input-search > .search-icon {
    background: url(img/search-1.png);
    width: 27px;
    height: 27px;
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 20px;
    cursor: pointer;
}


/* INPUT */


/* MENU */

.header-menu-it-book {
    float: right;
}

.header-menu-it-book > nav {
}

.header-menu-it-book > nav > a {
    font-size: 16px;
/*    font-family: 'Clearview';*/
    color: #fff;
    line-height: 65px;
    /*width: calc(100% / 7);*/
    display: inline-block;
    text-align: center;
    -webkit-transition: all ease 0.3s;
    width: 200px;
    height: 70px;
}

.header-menu-it-book > nav > a:hover{
    color: #ccc;
}

/*.header-menu-it-book > nav > a.active {
    box-shadow: inset 0 -8px 0 0 #009FDB;
}*/

/* MENU */


/* SUBMENU */

.header-submenu-it-book {
    width: 100%;
    height: 140px;
    background-color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    position: relative;
    z-index: 2;
    -webkit-transition: all ease 0.3s;
    margin-top: 15px;
}

.header-submenu-it-book.hide {
    height: 0px!important;
}

.header-submenu-it-book > nav {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}

.header-submenu-it-book > nav > a {
    text-align: center;
    width: calc(100% / 6);
    display: inline-block;
}

.header-submenu-it-book > nav > a > div > p {
    padding: 0;
    margin: 0;
    color: #4E4E4E;
    font-size: 16px;
/*    font-family: 'Clearview';*/
    margin-top: 10px;
}

.header-submenu-it-book > nav > a > div.active > p {
    color: #009FDB;
}


/* SUBMENU */

/* SUBMENU ELEMENTS */

.header-submenu-it-book > nav > a > div > i {
    width: 15px;
    height: 35px;
    display: inline-block;
    margin-top: 30px;
    -webkit-transition: all ease 0.2s;
}

.header-submenu-it-book > nav > a > div > i.srm {
    background-image: url(img/srm.svg);
    width: 44px;
    height: 39px;
}

.header-submenu-it-book > nav > a > div.active > i.srm {
    background-image: url(img/srm%20blue.svg);
}

.header-submenu-it-book > nav > a > div > i.arquitectura {
    background-image: url(img/arquitectura.svg);
    width: 44px;
    height: 48px;
}

.header-submenu-it-book > nav > a > div.active > i.arquitectura {
    background-image: url(img/aqrqui%20blue.svg);
}

.header-submenu-it-book > nav > a > div > i.operaciones {
    background-image: url(img/operaciones.svg);
    width: 49px;
    height: 38px;
}

.header-submenu-it-book > nav > a > div.active > i.operaciones {
    background-image: url(img/operaciones%20blue.svg);
    ;
}

.header-submenu-it-book > nav > a > div > i.seguridad {
    background-image: url(img/seguridad.svg);
    width: 44px;
    height: 51px;
}

.header-submenu-it-book > nav > a > div.active > i.seguridad {
    background-image: url(img/seguridad%20blue.svg);
}

.header-submenu-it-book > nav > a > div > i.desarrollo {
    background-image: url(img/desarrollo.svg);
    width: 45px;
    height: 44px;
}

.header-submenu-it-book > nav > a > div.active > i.desarrollo {
    background-image: url(img/desarrollo%20blue.svg);
}

.header-submenu-it-book > nav > a > div > i.procesos-it {
    background-image: url(img/procesos%20it.svg);
    width: 37px;
    height: 46px;
}

.header-submenu-it-book > nav > a > div.active > i.procesos-it {
    background-image: url(img/procesos%20it%20blue.svg);
}

.overlay {
    display: inline-block;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0,0,0,0);
    z-index: 0;
}


/* SUBMENU ELEMENTS */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .header-menu-it-book > nav > a {
        font-size: 14px;
    }
}