<header>
    <div class="logo-it-book" ng-mouseenter="hidesubmenu()">
        <i class="logo-att"></i>
        <p class="it-book">
            <span>IT</span><span>BOOK</span>
        </p>
        <div class="input-search">
            <input type="text" placeholder="¿Qué estas buscando?">
            <i class="search-icon"></i>
        </div>
    </div>
    <div class="header-menu-it-book">
        <nav>
            <a href="#/{{itemMenu.link}}" ng-repeat="itemMenu in menu" ng-mouseenter="showsubmenu($index)" ng-class="{'active': itemMenu.active}">{{itemMenu.title}}</a>
        </nav>
    </div>
    <div class="header-submenu-it-book" ng-class="{'hide':submenuHidden}" ng-mouseleave="hidesubmenu()">
        <nav>
            <a href="#/{{subMenu.link}}" ng-repeat="subMenu in menu[elementHovering].subElements" ng-mouseenter="activateElement($index)" ng-mouseleave="deactivateElement()">
                <div ng-class="{'active': subMenu.active}">
                    <i class="{{subMenu.imgClass}}" ng-class="{'active': subMenu.active}"></i>
                    <p>{{subMenu.title}}</p>
                </div>
            </a>
        </nav>
    </div>
    <div class="overlay" ng-mouseenter="hidesubmenu()" ng-hide="overlayHidden"></div>
</header>