<span>2. KPI information</span>
<ul class="abc-create-form">
    <li>
        <abc-textarea title="KPI name (max. 80 characters)" model="kpi.name" label="Name"></abc-textarea>
    </li>
    <li>
        <abc-input title="Short KPI name (max. 50 characters)" model="kpi.shortname" label="Short name">
        </abc-input>
    </li>
    <li>
        <div class="container-buttons-right">
            <div class="abc-create-button" ng-click="clear()">Clear</div>
            <div class="abc-create-button disabled" ng-click="save()">Save</div>
        </div>
    </li>
</ul>