<div class="abc-create-form-group">
    <div class="abc-create-label-multiline">
        <span>{{label}}</span>
    </div>
    <div class="abc-create-multi-select">
        <span ng-repeat="term in source" class="multi-select">
            <div class="abc-create-select">
                <div class="abc-create-select-content">
                    <div class="abc-create-select-content-title" ng-click="toggleShowOptions($index)" ng-show="term.modelSelected">{{term.model}}</div>
                    <div class="abc-create-select-content-title active" ng-click="toggleShowOptions($index)" ng-show="!term.modelSelected">{{holder}}</div>
                    <i></i>
                    <div class="abc-create-select-elements" ng-show="term.showOptions">
                        <ul>
                            <li ng-click="selectOption($parent.$index, $index)" ng-repeat="option in options track by $index">{{option}}</li>
                        </ul>
                    </div>
                </div><span class="abc-create-delete-button" ng-show="canDelete" ng-click="deleteElementFromSource($index)"><i></i></span>
                <span class="abc-add-button" ng-click="addElementToSource()"><i></i></span>
            </div>
        </span>
    </div>
</div>
