<div class="abc-create-form-group">
    <div class="abc-create-label-multiline">
        <span>{{label}}</span>
    </div>
    <div class="abc-create-multi-select">
        <span ng-repeat="term in source" class="multi-select">
            <div class="abc-create-select" style="position: relative; width: 100%;">
                <div class="abc-create-select-content"  style="display: inline-block; vertical-align: bottom;">
                    <input type="text" placeholder="{{holder}}" ng-model="model" ng-keyup="triggerEvent()">
                    <i></i>
                    <div class="abc-create-select-elements">
                        <ul>
                            <li>CRM</li>
                            <li>Customer Management</li>
                            <li>CRM</li>
                            <li>Customer Management</li>
                            <li>CRM</li>
                            <li>Customer Management</li>
                            <li>CRM</li>
                            <li>Customer Management</li>
                        </ul>
                    </div>
                </div><span class="abc-create-delete-button" ng-show="canDelete" ng-click="deleteElementFromSource($index)"><i></i></span>
                <span class="abc-add-button" ng-click="addElementToSource()"><i></i></span>
            </div>
        </span>
    </div>
</div>
