<span>2. Megaprocess information</span>
<ul class="abc-create-form">
    <li>
        <abc-select label="Domain" holder="Select a Domain" model="domain" event="toggleActiveButton"></abc-select>
    </li>
    <li>
        <abc-textarea title="Megaprocess name (max. 100 characters)" model="name" label="Name" event="toggleActiveButton"></abc-textarea>
    </li>
    <li>
        <div class="container-buttons-right">
            <div class="abc-create-button" ng-click="clear()">Clear</div>
            <div class="abc-create-button" ng-class="{'disabled': !canSave}" ng-click="save()">Save</div>
        </div>
    </li>
</ul>