.header-vista-ecosistemas {
    position: relative;
    height: 45px;
}

.btn-vista-procesos {
    width: 57px;
    height: 45px;
    line-height: 45px;
    color: white;
    font-size: 16px;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
}

.btn-vista-procesos:after {
    content: '';
    display: block;
    height: 15px;
    width: 12px;
    background-image: url(./img/regresar.svg);
    background-repeat: no-repeat;
    position: absolute;
    right: 24px;
    top: 15px;
}

.ttl-vista-procesos {
    font-size: 18px;
    position: absolute;
    left: 80px;
    line-height: 45px;
    font-family: 'SF Regular';
    color: #4E4E4E;
}

.lista-ecosistemas {
    width: 80%;
    margin: 0 auto;
    /*
    background: url(img/Group.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: top center;
*/
    height: 100%;
}

.lista-ecosistemas img {
    margin: 0 auto;
    width: 1200px;
    display: block;
}

.body-vista-ecosistemas {
    margin-top: 40px;
    height: calc(100% - 60px);
}

.header-bar {
    height: 50px;
    width: 100%;
    background-color: rgb(200, 200, 200);
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    color: rgb(255, 255, 255);
    box-sizing: in
}

.header-bar .title {
    font-size: 36px;
    line-height: 1.4;
}

.header-bar .name {
    /*line-height: 2;*/
    vertical-align: super;
}

.item-bar {
    height: 30px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(200, 200, 200);
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 2;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.body-vista-ecosistemas [class*="col-"] {
    padding: 5px!important;
}


/*.body-vista-ecosistemas > .row > div > .row > div{
    padding:10px!important;
}
.body-vista-ecosistemas > .row > div > .row > div > .row > div{
    padding:10px!important;
}*/

#crm {}

#crm > div > .item-bar:hover {
    background-color: rgb(144, 99, 205);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#bss > div > .item-bar:hover {
    background-color: #EC7400;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#em > div > .item-bar:hover {
    background-color: #B5BF00;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#bi > div > div > div > .item-bar:hover {
    background-color: #0066B0;
    color: rgb(255, 255, 255);
    cursor: pointer;
}