<div class="barra-wrap">
    <div>
        <div class="element-control view-control">View</div>
        <div class="element-control select-view-control">
            <div class="select-control" ng-click="openOptions()">{{getView()}}<i></i></div>
            <div class="select-options" ng-show="optionsShow">
                <ul>
                    <li ng-click="selectView($index)" ng-repeat="option in view">{{option.title}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <div class="element-control organize-control">Organize by areas</div>
        <div class="element-control-on" ng-class="{'active': organize.active}" ng-click="toggleOrganize()"></div>
    </div>
    <div ng-show="organize.active">
        <div class="element-control show-control">Show</div>
        <div class="element-control-switch switch-show-control">
            <ul>
                <li ng-click="toggleShow('areas')"><i class="areas" ng-class="{'active': show.areas.active}"></i><span>Areas</span></li>
                <li ng-click="toggleShow('applications')"><i class="apps" ng-class="{'active': show.applications.active}"></i><span>Applications</span></li>
                <li ng-click="toggleShow('kpis')"><i class="kpis" ng-class="{'active': show.kpis.active}"></i><span>KPIs</span></li>
            </ul>
        </div>
    </div>

</div>