.ng-background {
    background-color: #F2F2F3;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.ng-background.ba {
    background-image: url(img/FONDO%20GRIS.png);
}

.ng-background.home {
    background-image: url(img/Fondo-IT-Book_web.png);
}