dg-ways {
    width: calc( 100% - 235px);
    height: auto;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 57px;
    left: 245px;
    overflow: auto;
    transition: .2s;
}

dg-ways > div.svg-container {
    position: relative;
    -webkit-transition: all 0.5s cubic-bezier(0.250, 0, 0.705, 1);
    transition: all 0.5s cubic-bezier(0.250, 0, 0.705, 1);
    height: calc(100vh - 216px);
}

dg-ways > div.svg-container > svg {
    position: absolute;
}