<ng-header set-elementos-menu="elementosMenu"></ng-header>
<main>
    <section>
        <div class="regresar" ng-click="regresar()">
            <i></i>
            <span>Back</span>
        </div>
        <div class="module-title">
            <div>
                <span>Business Architecture | </span> <span class="active">Create Contents</span>
            </div>
        </div>
        <div class="module-body">
            <div class="abc-cuadros">
                <section>
                    <span>1. Select the type of content you want to create:</span>
                    <ul>
                        <li class="cuadro {{type.class}}" ng-repeat="type in types" ng-click="toggleType($index)" ng-class="{'active': type.active}">
                            <img ng-src="{{type.image[(type.active ? 1 : 0)]}}" alt="{{type.name}}">
                            <span>{{type.name}}</span>
                        </li>
                    </ul>
                </section>
                <section abc-domain event="saveDomain" event-update="updateDomain" event-delete="deleteDomain" control="domainControl" source="types[0].source" ng-show="types[0].active" update="update"></section>
                <section abc-megaprocess event="saveMega" event-update="updateMega" event-delete="deleteMega" control="megaControl" source="types[1].source" dominios="listaDominios" ng-show="types[1].active" update="update"></section>
                <section abc-macroprocess event="saveMacro" control="macroControl" source="types[2].source" megaprocesos="listaMegaprocesos" areas="listaAreas" ng-show="types[2].active" update="update"></section>
                <section abc-area event="saveArea" event-update="updateArea" event-delete="deleteArea" control="areaControl" source="types[3].source" ng-show="types[3].active" update="update"></section>
                <section abc-kpi event="saveKpi" event-update="updateKpi" event-delete="deleteKpi" control="kpiControl" source="types[4].source" ng-show="types[4].active" update="update"></section>
                <section abc-application event="saveAplicacion" source="types[5].source" control="aplicacionControl" ng-show="types[5].active" update="update"></section>
            </div>
        </div>
    </section>
</main>
<abc-alert content="contentAlert" ng-show="showAlert"></abc-alert>