.arq {
    width: 100%;
    height: calc(100vh - 40px);
    background-image: url(img/fernando_1.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
}

.trayectoria-img{
    margin-left: 10%;
    margin-top: 50px;
}

.arq-trayectoria {
    width: 100%;
    height: calc(100vh - 40px);
    /*background-image: url(img/ferchu.png);*/
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom left;
    background-repeat: no-repeat;
}

.arq-trayectoria > .regresar {
    cursor: pointer;
}

.arq-trayectoria > .regresar > i {
    width: 8px;
    height: 14px;
    background: url(img/regresar.svg);
    display: inline-block;
}

.arq-trayectoria > .regresar > span {
    font-size: 18px;
    color: #626262;
    padding-left: 10px;
}

.arq-areas {
    width: 100%;
    height: calc(100vh - 40px);
    background-image: url(img/ferchoblur.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
}

.arq-gobierno {
    width: 100%;
    height: calc(100vh - 40px)!important;
    /*background-image: url(img/erika.png);*/
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
}

.arq-gobierno > .regresar {
    cursor: pointer;
}

.arq-gobierno > .regresar > i {
    width: 8px;
    height: 14px;
    background: url(img/regresar.svg);
    display: inline-block;
}

.arq-gobierno > .regresar > span {
    font-size: 18px;
    color: #626262;
    padding-left: 10px;
}

.arq-contenidos {
    width: 100%;
    height: calc(100vh - 40px);
    background-color: #F2F2F3;
}

.arq-contenidos > .contenido {
    width: 1160px;
    height: 716px;
    display: block;
    margin: 0 auto;
    background-image: url(img/parte5.png);
    background-size: cover;
}

.arq-contenidos > .contenido.open {
    width: 1160px;
    height: 716px;
    display: block;
    margin: 0 auto;
    background-image: url(img/parte6.png);
    background-size: cover;
}

.arq-contenidos .viewer {
    width: 1124px;
    height: 650px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .1);
    padding: 20px 40px;
}

.arq-contenidos .viewer .row div {
    height: 150px;
    width: 230px;
    background-color: rgb(245, 245, 245);
    margin: 15px;
    border: 1px solid rgb(235, 235, 235);
    text-align: center;
}

.arq-contenidos .viewer .row div > img {
    height: 880px;
    width: 100px;
    display: block;
    margin: auto auto 20px auto;
}

.arq-contenidos .viewer .row div > span {}

.arq-contenidos .viewer .row div > img {
    height: 70px;
    width: 70px;
    display: block;
    margin: 10px auto 10px auto;
}

.arq-contenidos .viewer .row div > span {}

.arq-contenidos .viewer .pager {
    text-align: center;
    margin-top: 30px;
}

.arq-contenidos .viewer .pager i {
    display: inline-block;
    height: 16px;
    width: 8px;
    margin: auto 20px;
    background-image: url(img/ico.arrow.gray.left.png);
    background-repeat: no-repeat;
    cursor: pointer;
}

.arq-contenidos .viewer .pager i.right {
    background-image: url(img/ico.arrow.gray.right.png);
}

.arq-contenidos .viewer .pager ul {
    display: inline-block;
    vertical-align: super;
}

.arq-contenidos .viewer .pager li {
    display: inline;
    cursor: pointer;
    padding: 5px;
    color: rgb(150,150,150);
}
.arq-contenidos .viewer .pager li.active{
    color: rgb(0,0,0);
}
.arq-contenidos .viewer .row div > img {
    height: 71px;
    width: 71px;
    display: block;
    margin: auto auto 20px auto;
}

.arq-contenidos .viewer .row div > span {
    font-size: 18px;
}

.arq-areas .viewer {
    width: 930px;
    height: 800px;
    overflow: hidden;
    /*background-color: rgb(255,255,255);*/
    /*border-radius: 20px;*/
    margin: auto;
}

.arq-areas .viewer .row div {
    height: 270px;
    width: 270px;
    background-color: rgba(0, 0, 0, .4);
    margin: 20px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all ease 0.3s;
}

.arq-areas .viewer .row div:hover {
    background-color: rgba(22, 153, 202, 0.69);
}

.arq-areas .viewer .row div > img {
    height: 90px;
    width: auto;
    display: block;
    margin: 40px auto 20px auto;
}

.arq-areas .viewer .row div > span {
    font-size: 28px;
    color: rgb(255, 255, 255);
}

.title-contenidos {
    display: block;
    width: 1130px;
    margin: 0 auto 30px auto;
}

.title-contenidos > i {
    width: 31px;
    height: 33px;
    display: inline-block;
    background-image: url(img/arq-contenidos-icon.svg);
    vertical-align: middle;
}

.title-contenidos > span {
    font-size: 35px;
    color: #4E4E4E;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.body-contenidos {
    font-size: 20px;
    width: 1160px;
    margin: 0 auto;
}

.body-contenidos > .parrafo-contenidos {
    width: 70%;
}

.body-contenidos > .datos-personales {
    margin-top: 80px;
    width: 70%;
    color: #505050;
    text-align: right;
}

.body-contenidos > .datos-personales > .link-datos-personales {
    color: #009FDB;
    cursor: pointer;
}

.body-contenidos > .datos-personales > .link-datos-personales > i {
    display: inline-block;
    width: 8px;
    height: 14px;
    background-image: url(img/avanzar.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    vertical-align: middle;
}

@media (max-height: 800px) {
    .arq {
        width: 100%;
        height: calc(100vh - 40px);
        background-image: url(img/fernando_1.png);
        background-size: 100%;
        background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat;
    }
}