.arq {
    width: 100%;
    height: calc(100vh - 40px);
    background-image: url(img/fernando_1.png);
    background-size: cover;
}

.arq-trayectoria {
    width: 100%;
    height: calc(100vh - 40px);
/*    min-height: 720px;*/
    background-image: url(img/ferchu.png);
    background-size: cover;
}
.arq-trayectoria > .regresar {
    cursor: pointer;
}

.arq-trayectoria > .regresar > i{
    width: 8px;
    height: 14px;
    background: url(img/regresar.svg);
    display: inline-block;
}

.arq-trayectoria > .regresar > span{
    font-size: 18px;
    color: #626262;
    padding-left: 10px;
}
.arq-areas {
    width: 100%;
    height: calc(100vh - 40px);
    background-image: url(img/parte3.png);
    background-size: cover;
}

.arq-gobierno {
    width: 100%;
    height: calc(100vh - 40px);
    background-image: url(img/parte4.png);
    background-size: cover; 
}


.arq-gobierno > .regresar {
    cursor: pointer;
}

.arq-gobierno > .regresar > i{
    width: 8px;
    height: 14px;
    background: url(img/regresar.svg);
    display: inline-block;
}

.arq-gobierno > .regresar > span{
    font-size: 18px;
    color: #626262;
    padding-left: 10px;
}

.arq-contenidos {
    width: 100%;
    height: calc(100vh - 40px);
    background-color: #F2F2F3;
}

.arq-contenidos > .contenido {
    width: 1160px;
    height: 716px;
    display: block;
    margin: 0 auto;
    background-image: url(img/parte5.png);
    background-size: cover;
}

.arq-contenidos > .contenido.open {
    width: 1160px;
    height: 716px;
    display: block;
    margin: 0 auto;
    background-image: url(img/parte6.png);
    background-size: cover;
}

.title-contenidos {
    display: block;
    width: 1130px;
    margin: 0 auto 30px auto;
}

.title-contenidos > i {
    width: 31px; 
    height: 33px;
    display: inline-block;
    background-image: url(img/arq-contenidos-icon.svg);
    vertical-align: middle;
}

.title-contenidos > span {
    font-size: 35px;
    color: #4E4E4E;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.body-contenidos {
    font-size: 20px;
    width: 1160px;
    margin: 0 auto;
}

.body-contenidos > .parrafo-contenidos {
    width: 70%;
}

.body-contenidos > .datos-personales {
    margin-top: 80px;
    width: 70%;
    color: #505050;
    text-align: right;
}

.body-contenidos > .datos-personales > .link-datos-personales {
    color: #009FDB;
    cursor: pointer;
}
.body-contenidos > .datos-personales > .link-datos-personales > i {
    display: inline-block;
    width: 8px;
    height: 14px;
    background-image: url(img/avanzar.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    vertical-align: middle;
}