.trayectoria-container {
    width: 760px;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 3px 9px 1px rgba(0, 0, 0, 0.1);
    margin: 10px auto 40px;
}

.trayectoria-title {
    width: 100%;
    height: 50px;
    padding: 40px;
}

.trayectoria-title > span:nth-child(1) {
    font-size: 35px;
    display: inline-block;
    vertical-align: middle;
}

.trayectoria-title > span:nth-child(2) {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    margin-left: 6px;
}

.trayectoria-title > span:nth-child(2) > div:nth-child(1) {
    font-family: 'SF Medium';
}

.trayectoria-title > span:nth-child(2) > div:nth-child(2) {
    font-size: 18px;
}

.trayectoria-frase {
    width: 80%;
    margin: 20px auto;
    color: #8F8F8F;
}

.trayectoria-frase > i:nth-child(1) {
    font-size: 20px;
}

.trayectoria-frase > i:nth-child(2) {
    font-size: 16px;
    display: block;
}

.perfil-personal {
    width: 80%;
    margin: 0 auto;
}

.perfil-personal > .subtitle {
    width: 60px;
    vertical-align: top;
    padding-top: 30px;
    display: inline-block;
}

.perfil-personal > .subtitle > figure {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0;
}

.perfil-personal > .subtitle > figure > img {
    width: 100%;
    height: auto;
}

.perfil-personal > .content {
    display: inline-block;
    padding: 30px 0;
    width: calc(100% - 70px);
}

.perfil-personal > .content > span {
    font-size: 16px;
    color: #4E4E4E;
}

.perfil-personal > .content > span:nth-child(1) {
    font-family: 'SF Medium';
    display: block;
    margin-bottom: 20px;
}

.perfil-personal > .content > table tr td {
    font-size: 16px;
    color: #4E4E4E;
    padding-right: 10px;
}

.container-trayectoria-overflow {
    overflow: auto;
    height: calc(100% - 130px);
}

.new-container-trayectoria {
    width: 770px;
    height: calc(100% - 210px);
    position: absolute;
    overflow: auto;
    top: 210px;
    left: calc(50% - 150px);
}