.processes-detail {
    /*width: 1400px!important;*/
}

.sidebar-left {
    width: 280px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    height: calc(100% - 40px);
    overflow: hidden;
    transition: all ease 0.3s;
}

.sidebar-left.close {
    width: 0;
}

.back-subheader {
    width: 280px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    background: #F8BA30;
    vertical-align: top;
    transition: all ease 0.3s;
}

.back-subheader.activate {
    width: 0;
}

.back-subheader > a {
    color: #ffffff;
    line-height: 44px;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    font-family: 'Omnes Medium';
}

.back-subheader > a > span {
    display: inline-block;
    vertical-align: top;
}

.back-subheader > a > i {
    background-image: url(img/back%20arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    width: 40px;
    height: 40px;
    display: inline-block;
}

.subheader {
    width: calc(100% - 280px);
    height: 40px;
    background: #9063CD;
    display: inline-block;
    position: relative;
    vertical-align: top;
    color: white;
    line-height: 40px;
    padding-left: 50px;
    transition: all ease 0.3s;
}

.subheader.activate {
    width: 100%;
}

.sidebar-left section.container-card {
    width: 100%;
}

.sidebar-right {
    width: calc( 100% - 280px);
    display: inline-block;
    position: relative;
    background-image: url(img/FONDO%20GRIS%20BLUR.png);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: calc(100% - 40px);
    height: auto;
    vertical-align: top;
    z-index: 2;
    overflow: hidden;
    transition: all ease 0.3s;
}

.sidebar-right.open {
    width: 100%;
}

.sidebar-right:before {
    width: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(230, 230, 230, 0.7);
    content: '';
    z-index: -1;
}


/*
.proceso {
    display: inline-block;
    width: 176px;
    height: 100px;
    background-image: url(./img/proceso-shape.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: left;
    padding: 30px 15px 0px;
    font-size: 16px;
    color: #414141;
    margin-bottom: 30px;
    position: relative;
    cursor: pointer;
}
*/

.proceso.active {
    background-image: url(./img/proceso-shape-active.svg);
    color: #ffffff;
}


/*
.proceso:after {
    content: '';
    width: 1px;
    height: 35px;
    position: absolute;
    bottom: -35px;
    left: 50%;
    background: #979797;
}
*/


/*
.capacidad {
    display: inline-block;
    width: 168px;
    height: 83px;
    background-image: url(img/FONDO%20GRIS%20BLUR.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    border: 1px solid #979797;
    text-align: center;
    padding: 15px;
    color: #414141;
    margin-top: 5px;
    position: relative;
    z-index: 2;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.14);
    font-size: 16px;
    overflow: hidden;
    opacity: 0.9;
    cursor: pointer;
}

.capacidad.active {
    background: #CAA2DD;
    color: #ffffff;
    border-color: #858585;
}

.capacidad:before {
    background: rgba(241, 241, 241, 0.8);
    display: inline-block;
    width: 168px;
    height: 83px;
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: -1;
    transition: all ease 0.2s;
}

.capacidad:hover:before {
    background: rgba(255, 255, 255, 0.8);
}

.capacidad.active:before {
    background: rgba(241, 241, 241, 0);
}
*/

.sidebar-right > ng-flow > .container-flow > ul {
    padding: 50px 30px;
    transition: all ease 0.6s;
}

.sidebar-right > ng-skipper > .container-flow > ul {
    padding: 50px 0 0 30px;
    min-height: calc(100vh - 310px);
    height: auto;
    /*    transition: all ease 0.6s;*/
}

.sidebar-right ul li.columna {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    height: 98%;
}

.proceso-alert {
    display: inline-block;
    width: 100%;
    height: 0px;
    background-image: url(img/FONDO%20GRIS%20BLUR.png);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    bottom: 0;
    position: absolute;
    z-index: 5;
    -webkit-transition: all ease 0.5s;
    left: 0;
    transition: all ease 0.5s;
}

.proceso-alert:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    z-index: -1;
}

.proceso-alert.open {
    height: 600px;
}

.proceso-alert > .close-alert {
    width: 100%;
    height: 40px;
    background: #C4C4C4;
    display: inline-block;
    position: relative;
}

.proceso-alert > .close-alert > i {
    display: inline-block;
    width: 42px;
    height: 40px;
    background-image: url(img/open-process.svg);
    background-size: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: calc(50% - 21px);
}

.proceso-alert > header {
    width: 100%;
    position: absolute;
    top: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    height: 40px;
    text-align: center;
    line-height: 40px;
    right: 0;
}

.proceso-alert > .info {
    width: 430px;
    margin: 80px auto 0 auto;
}

.proceso-alert > .info > section.diagram {
    width: 100%;
    height: 430px;
    display: inline-block;
    background-image: url(img/diagrama-ejemplo.png);
}

.capacidad-alert {
    display: inline-block;
    width: 0;
    height: 760px;
    background-image: url(img/FONDO%20GRIS%20BLUR.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 5;
    transition: all ease 0.5s;
}

.capacidad-alert:before {
    background: rgba(255, 255, 255, 0.9);
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 760px;
}

.capacidad-alert.open {
    width: calc(100% - 230px);
}

.capacidad-alert > .close-alert {
    width: 40px;
    height: 100%;
    display: inline-block;
    background: #C4C4C4;
    position: relative;
}

.capacidad-alert > .close-alert > i {
    display: inline-block;
    width: 42px;
    height: 27px;
    background-image: url(img/open-capacity.svg);
    background-size: 70%;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: calc(50% - 27px);
}

.capacidad-alert > header {
    position: absolute;
    width: calc(100% - 40px);
    right: 0;
    top: 0;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    /*border-left: 1px solid rgba(0, 0, 0, 0.2);*/
}

.capacidad-alert.open > header {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.capacidad-alert > .info {
    width: calc(100% - 40px);
    position: absolute;
    top: 40px;
    right: 0;
}

.capacidad-alert > .info > section {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.capacidad-alert > .info > section > header {
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.capacidad-alert > .info > section > ul {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    height: 720px;
}

.capacidad-alert > .info > section > ul > li {
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    text-decoration: underline;
    cursor: pointer;
}

.container-flow {
    display: inline-block;
    width: 100%;
    overflow: auto;
    position: relative;
    transition: all ease 0.5s;
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
    .processes-detail {
        width: 100%!important;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .processes-detail {
        width: 100%!important;
    }
    section.container-index {
        width: 280px;
        height: 170px;
        position: relative;
    }
    .sidebar-right {
        height: 520px;
    }
    .container-flow {
        height: 520px;
    }
    .sidebar-right > ng-flow > .container-flow > ul {
        height: 660px;
    }
    .sidebar-right > ng-skipper > .container-flow > ul {
        height: 660px;
    }
    .proceso-alert.open {
        height: 350px;
    }
    .capacidad-alert {
        height: 520px;
    }
}

ng-breadcrumb {
    position: relative;
}

.subheader-back {
    width: calc(100% - 280px);
    height: 40px;
    background: transparent;
    display: block;
    position: relative;
    vertical-align: top;
    color: white;
    line-height: 40px;
    padding-left: 20px;
    position: absolute;
    z-index: 3;
    right: 0;
    color: #484848;
    border-bottom: 1px solid #979797;
    transition: all ease 0.3s;
}

.subheader-back.open {
    width: 100%;
}

.subheader-back ul {
    position: absolute;
    right: 30px;
    top: 0;
}

.subheader-back ul li {
    display: inline-block;
    margin-left: 40px;
    position: relative;
    cursor: pointer;
}

.subheader-back ul li i {
    height: 16px;
    width: 16px;
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    /*background-image: url(img/Check_Background.png);*/
    top: 10px;
    left: -20px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

.subheader-back ul li i.active {
    height: 16px;
    width: 16px;
    background-color: #9063CD;
    border: 4px solid rgb(255, 255, 255);
}

.svg-container {
    /*    margin-top: 40px;*/
    overflow: auto;
    height: calc(100vh - 176px);
    width: 100%;
    position: relative;
}

.how-to-see {
    display: inline-block;
    position: absolute;
    right: 420px;
    top: 0;
}

.how-to-order {
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 0;
}

.how-to-see > .txt,
.how-to-order > .txt {
    display: inline-block;
    padding: 0 6px;
    line-height: 32px;
    height: 32px;
    vertical-align: middle;
}

.how-to-see > .btn,
.how-to-order > .btn {
    display: inline-block;
    height: 32px;
    padding: 0 10px;
    background: #F2F2F2;
    border: 1px solid #979797;
    border-radius: 4px;
    line-height: 32px;
    margin-top: 3px;
    cursor: pointer;
}

.how-to-order > .btn {
    height: 30px!important;
    line-height: 30px!important;
}

.how-to-see > .btn.left {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.how-to-see > .btn.right {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: none;
}

.how-to-see > .btn.active,
.how-to-order > .btn.active {
    background: -webkit-linear-gradient(top, #00cdef 0%, #009fdb 100%);
    color: white;
}

.activate-left-bar {
    width: 20px;
    height: 40px;
    position: absolute;
    left: 10px;
    top: 0;
    cursor: pointer;
    background-image: url(img/triangle-close.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
}

.activate-left-bar.activate {
    background-image: url(img/triangle-open.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
}

.select-box {
    position: absolute;
    height: 300px;
    width: 150px;
    z-index: 10;
}

.select-box.ver {
    right: 350px;
    top: 0;
    width: 170px;
    position: absolute;
}

.select-box.ordenar {
    right: 210px;
    top: 0;
}

.select-box > div {
    padding: 0 10px;
}

.select-box ul {
    width: 150px;
    background-color: white;
    color: #9063CD;
}

.select-box ul li {
    padding: 0 10px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: all ease 0.3s;
}

.select-box ul li.level {
    height: 60px;
}

.select-box ul li:hover {
    color: #6400ea;
}

.select-box ul li.active {
    font-weight: bold;
    font-size: 16px;
}

.select-box ul li > div {
    height: 20px;
}

.svg-container {
    z-index: 10;
}

.diagram-container {
    position: absolute;
    overflow: auto;
    z-index: 9;
    top: 30px;
    left: 0;
    height: calc(100% - 30px);
}

.diagram-container.top-zero {
    top: 0;
    height: 100%;
}

.btn-close-side {
    position: absolute;
    background: #606060;
    width: 38px;
    height: 45px;
    left: 0;
    bottom: 20px;
    border-radius: 0 8px 8px 0;
    z-index: 10;
}

.btn-close-side:after {
    content: '';
    display: block;
    height: 15px;
    width: 12px;
    background: url(./img/triangle-close.svg);
    position: absolute;
    left: 9px;
    top: 15px;
}

.btn-close-side.open:after {
    content: '';
    display: block;
    height: 15px;
    width: 12px;
    background: url(./img/triangle-open.svg);
    position: absolute;
    left: 9px;
    top: 15px;
}

.header-container {
    /*    height: 30px;*/
    position: absolute;
    left: 0;
    top: 0;
}

.zoom-control {
    position: absolute;
    top: 0px;
    right: 530px;
    width: 100px;
}

.zoom-value {
    width: 100%;
    text-align: center;
}

.zoom-value:hover {
    /*    text-decoration: underline;*/
}

.btn-zoom {
    width: 20px;
    height: 20px;
    border: 1px solid #ffffff;
    border-radius: 15px;
    position: absolute;
    top: 10px;
    cursor: pointer;
}

.btn-zoom.menos {
    background-image: url('img/btn-menos.svg');
    background-size: 60%;
    background-position: center center;
    background-repeat: no-repeat;
    left: 0;
}

.btn-zoom.mas {
    background-image: url('img/btn-mas.svg');
    background-size: 60%;
    background-position: center center;
    background-repeat: no-repeat;
    right: 0;
}

.download-pdf {
    position: absolute;
    right: 0;
    cursor: pointer;
    height: 300px;
    z-index: 10;
    width: 150px;
}
.download-pdf span {
    display: inline-block;
    margin-left: 7px;
}

.download-pdf i {
    width: 14px;
    height: 19px;
    background-image: url(img/download_L.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: sub;
}

.download-pdf ul {
    width: 150px;
    background-color: white;
    color: #9063CD;
}

.download-pdf ul li {
    padding: 0 10px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: all ease 0.3s;
}

.download-pdf ul li:hover {
    color: #6400ea;
}

.download-pdful li.active {
    font-weight: bold;
    font-size: 16px;
}