<ng-background></ng-background>
<ng-header set-elementos-menu="elementosMenu"></ng-header>
<main class="arq-contenidos">
    <div class="title-contenidos">
        <i></i>
        <span>Arquitectura | Contenidos</span>
    </div>
    <!-- <section class="contenido" ng-click="toggleOpen()" ng-class="{'open': open}"></section> -->


    <div class="viewer">
       
        <div class="row">
            <div ng-repeat="item in viewer.items" class="md-col-3 sm-col-12">
                <img src="app/modules/areas/assets/img/{{item.img}}" alt="">
                <span>{{item.name}}</span>
            </div>
        </div>

        <div class="pager">
            <i class="left" ng-click="viewer.back()"></i>
            <ul>
                <li ng-click="viewer.goTo($index)" ng-repeat="page in viewer.pages" ng-class="{active: ($index==viewer.indexPageNow)  }">{{page.number}}</li>
            </ul>
            <i class="right" ng-click="viewer.forw()"></i>
        </div>
    </div>

    <ng-slideview active="2"></ng-slideview>
</main>