<ng-background></ng-background>
<ng-header set-elementos-menu="elementosMenu"></ng-header>

<main class="arq">
    <section>
        <div class="title-contenidos">
            <i></i>
            <span>Architecture | Introduction</span>
        </div>
        <div class="body-contenidos">
           <div class="parrafo-contenidos">
                Enterprise architecture framework is the enabler to optimize the legacy of processes to an integrated environment, respond to business changes, support delivery of business strategy and get the right balance between IT efficiency and business innovation.
                <br>
                <br>
                This framework shows a clear view on how design meets the criteria defined in each one of the projects, ensuring business partners, architects and operations support use standard terminology for IT solutions
           </div>
           <div class="datos-personales">
               <div><b>Fernando Valdeón</b></div>
               <div>Architecture Executive Director</div>
               <div class="link-datos-personales" ng-click="go()">
                   <span>My trajectory  </span>
                   <i></i>
               </div>
           </div>
        </div>
    </section>
    <ng-slideview active="0"></ng-slideview>
</main>