<ng-background></ng-background>
<ng-header set-elementos-menu="elementosMenu"></ng-header>

<main class="arq">
    <section>
        <div class="title-contenidos">
            <i></i>
            <span>Architecture | Introduction</span>
        </div>
        <div class="body-contenidos">
           <div class="parrafo-contenidos">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra dapibus ante, et congue leo mollis in. Praesent blandit sit amet purus eget scelerisque. Nunc et lacus rhoncus, fringilla nunc eget, egestas ligula. Praesent sed ornare libero. Nunc feugiat maximus massa, id rutrum lacus suscipit ut. Morbi condimentum hendrerit ex in accumsan. Integer auctor convallis mi, eget rutrum metus varius ac.
                <br>
                <br>
                Praesent mauris felis, commodo ac erat vitae, dignissim blandit massa. Ut erat urna, ornare a ipsum egestas, volutpat vestibulum augue. Nunc in elementum est. Mauris efficitur lacus eget maximus rutrum. Curabitur auctor ligula tortor, nec facilisis urna vestibulum ut. Nunc quis pellentesque sem, ac semper dolor. Aliquam vel cursus neque, sed vehicula libero. Fusce rhoncus scelerisque ipsum at pharetra. Aenean varius mauris et nulla tempor egestas. Vestibulum condimentum vestibulum nisl pharetra pulvinar. Nunc vel urna ornare, egestas ante non, pulvinar metus. Phasellus aliquam, metus in finibus eleifend, sapien urna sagittis quam, vitae auctor tellus velit a quam. Proin quis felis condimentum, interdum nibh eget, venenatis nisi.
           </div>
           <div class="datos-personales">
               <div><b>Fernando Valdeón</b></div>
               <div>Architecture Executive Director</div>
               <div class="link-datos-personales" ng-click="go()">
                   <span>My trajectory  </span>
                   <i></i>
               </div>
           </div>
        </div>
    </section>
    <ng-slideview active="0"></ng-slideview>
</main>