<ng-background></ng-background>
<ng-header set-elementos-menu="elementosMenu"></ng-header>
<main class="arq-gobierno">
    <div class="regresar" ng-click="go()">
        <i></i>
        <span>Regresar</span>
    </div>
    <div class="title-contenidos">
        <i></i>
        <span>{{actual.titulo}}</span>
    </div>
    <div class="body-contenidos">
        <div class="parrafo-contenidos">{{actual.descripcion}}</div>
        <div class="datos-personales">
        <img src="app/modules/areas/assets/img/erika_zaragoza.png" alt="">
            <div><b>{{actual.director}}</b></div>
            <div>{{actual.puesto}}</div>
            <div class="link-datos-personales" ng-click="go()">
                <span>{{actual.puesto}}</span>
                <i></i>
            </div>
        </div>
    </div>

</main>