<!--<ng-background></ng-background>-->
<ng-header set-elementos-menu="elementosMenu"></ng-header>
<main class="arq-gobierno">
    <div class="regresar" ng-click="back()">
        <i></i>
        <span>Back</span>
    </div>
    
    <div class="new-container">
        <div class="new-title">
            <i></i>
            <span>{{actual.titulo}}</span>
        </div>
        <div class="new-body">
            <div class="parrafo-contenidos">{{actual.descripcion}}</div>
            <div class="datos-personales" style="display:inline-block;">
                <div><b>{{actual.director}}</b></div>
                <div>{{actual.puesto}}</div>
                <div class="link-datos-personales" ng-click="go(actual.id_trayectoria)">
                    <span>My trajectory</span>
                    <i></i>
                </div>
            </div>
        </div>
        <div class="silueta-r"></div>
    </div>

</main>