<ng-background></ng-background>
<ng-header set-elementos-menu="elementosMenu"></ng-header>
<main class="arq-trayectoria">

    <div class="regresar white" ng-click="go()">
        <i></i>
        <span style="color: white; font-family: 'SF Medium';">Back</span>
    </div>

    <div class="fondo-trayectoria">
        <div class="nombre-trayectoria">{{cv.nombre}} {{cv.apellidos}}</div>
        <div class="puesto-trayectoria">{{cv.puesto}}</div>
        <div class="frase-trayectoria"><i>{{cv.personal_quote}}</i></div>
    </div>

    <div class="foto-trayectoria" ng-style="getPhoto()"></div>

    <div class="contenido-trayectoria">
        <div class="titulo-contenido-trayectoria">
            Trajectory
        </div>
        <div class="perfil-personal">
            <div class="subtitle">
                <figure>
                    <img ng-src="{{content.personales[0].imagen}}" alt="">
                </figure>
            </div>
            <div class="content">
                <span>{{content.personales[0].titulo}}</span>
                <span>{{cv.personal_profile}}</span>
            </div>
        </div>

        <div class="perfil-personal">
            <div class="subtitle">
                <figure>
                    <img ng-src="{{content.personales[1].imagen}}" alt="">
                </figure>
            </div>
            <div class="content">
                <span>{{content.personales[1].titulo}}</span>
                <span>{{cv.major_professional}}</span>
            </div>
        </div>

        <div class="perfil-personal">
            <div class="subtitle">
                <figure>
                    <img ng-src="{{content.personales[2].imagen}}" alt="">
                </figure>
            </div>
            <div class="content">
                <span>{{content.personales[2].titulo}}</span>
                <span>{{cv.major_personal}}</span>
            </div>
        </div>

        <div class="perfil-personal">
            <div class="subtitle">
                <figure style="width:31px;">
                    <img src="/assets/img/notebook-2.png" alt="">
                </figure>
            </div>
            <div class="content">
                <span>Academic Profile</span>
                <table>
                    <tr ng-repeat="academic in cv.academic_profile">
                        <td style="display: list-item;">{{academic.grado}}</td>
                        <td>{{academic.instituto}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="perfil-personal">
            <div class="subtitle">
                <figure style="width:38px;">
                    <img src="/assets/img/briefcase.png" alt="">
                </figure>
            </div>
            <div class="content">
                <span>Professional experience</span>
                <table style="width: 100%;">
                    <tr ng-repeat="professional in cv.professional_experience">
                        <td style="display: list-item;">{{professional.puesto}}</td>
                        <td>{{professional.empresa}}</td>
                        <td style="width: 130px;">{{professional.tiempo}}</td>
                    </tr>
                </table>
            </div>
        </div>


        <div class="perfil-personal">
            <div class="subtitle">
                <figure>
                    <img ng-src="/assets/img/target.png" alt="">
                </figure>
            </div>
            <div class="content">
                <span>2016 Enterprise objectives</span>
                <table>
                    <tr ng-repeat="objective in cv.enterprise_objectives">
                        <td style="display: list-item;">{{objective.objetivo}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</main>