.application-header{
	margin-bottom: 30px;
}
.admin .viewer{
	max-width: 2000px;
	background-color: rgba(255,255,255,.9);
	margin: 60px auto;
	padding-bottom:20px;
	padding-top:1px;
	border: 1px solid rgb(208,208,208);
	position: relative;
}

.admin .viewer .row{
	border-bottom: 1px solid rgb(150,150,150);
	border-top: 1px solid rgb(150,150,150);
	padding: 30px;
}

.admin ul.filter-abc{
	width: 550px;
	margin:20px auto;
	height: 26px;
}

.admin ul.filter-abc li{
	display: inline-block;
	margin: 5px;
	cursor: pointer;
}

.admin .filter{
	float: right;
	border: 1px solid #CED1D2;
	width: 200px;
	height: 40px;
	background-color: rgb(255,255,255);
	position: relative;
	position: absolute;
	right: 10px;
	top:13px;

}
.admin .filter input{
	background-color: transparent;
	border: 0;
	height: 40px;
	padding-left: 10px;
	width: 200px;
}

.admin .filter i{
	position: absolute;
	right: 8px;
	top: 10px;
	height: 20px;
	width: 20px;
	background-image: url(img/Shape.png);
	background-repeat: no-repeat;
	opacity: .5;
}

.link{
	cursor: pointer;
	/*text-decoration: underline;*/
}
.link:hover{
	color: rgb(19,149,186);
}