<ng-header set-elementos-menu="elementosMenu"></ng-header>
<main>
    <div class="regresar dg-indice" ng-click="regresar()">
        <i></i>
        <span>Back</span>
    </div>
    <dg-historial
        historial="historial"
    ></dg-historial>
    <div class="page-wrap">
        <div class="column-indice" ng-class="{'animate-width-0':!hideToggle}">
            <dg-indice
                arquitectura="arquitectura"
                dominios="dominios"
                megaprocesos="megaprocesos"
                get-megaprocesos="getMegaprocesos"
                get-macroprocesos="getMacroprocesos"
                get-procesos="getProcesos"
            ></dg-indice>
        </div>
        <div class="column-barra" ng-class="{'animate-width-full':!hideToggle}">
            <dg-barra-herramientas
                view="view"
                organize="organize"
                show="show"
                zoom="zoom"
                get-view="getView"
                get-organize="getOrganize"
                get-show="getShow"
                get-zoom="getZoom"
                get-print="getPrint"
                hide-toggle="hideToggle"
            ></dg-barra-herramientas>  
        </div>
        <dg-ways ng-class="{'animate-width-full-w':!hideToggle}"
            set-source="source"
            set-view="view"
            set-organice-by="organize"
            set-show="show"
            set-zoom="zoom"
            set-areas-list="source.areas"
            print="printPDF"
            set-hide-toggle="hideToggle"
            ></dg-ways>
    </div>
</main>
