<ng-header set-elementos-menu="elementosMenu"></ng-header>
<main>
    <div class="regresar dg-indice" ng-click="regresar()">
        <i></i>
        <span>Back</span>
    </div>
    <dg-historial
        historial="historial"
    ></dg-historial>
    <div class="page-wrap">
        <div class="column-indice">
            <dg-indice
                arquitectura="arquitectura"
                dominios="dominios"
                megaprocesos="megaprocesos"
                get-indexdominio="dominioIndex"
                get-indexmega="megaprocesoIndex"
                get-indexmacro="macroprocesoIndex"
            ></dg-indice>
        </div>
        <div class="column-barra">
            <dg-barra-herramientas></dg-barra-herramientas>  
        </div>
        <dg-ways get-source="source"></dg-ways>
    </div>
</main>
