<section class="flipcard">
    <ul>
        <li ng-repeat="arquitectura in source">
            <section class="container-card">
                <div class="card" ng-class="{'flipped': arquitectura.flipped}">
                    <article 
                       class="frontside" 
                       ng-click="flipOne($index)" 
                       ng-style="{'background-image':arquitectura.img}">
                        <div 
                           class="lienzo" 
                           ng-style="{'background-color':arquitectura.backColor}">
                            <h1>{{arquitectura.title}}</h1>
                            <header>{{arquitectura.name}}</header>
                        </div>
                    </article>
                    <article class="backside">
                        <div class="dominios">Dominios
                            <img src="app/modules/processes/assets/img/ICONO_FLIP_CARD.png" class="reload-module" ng-click="closeOne($index)"/>
                        </div>
                        <div class="lienzo" ng-style="{'background-color':arquitectura.backColor}">
                            <header>{{arquitectura.name}}</header>
                        </div>
                        <ng-mapside 
                            source="arquitectura.dominios" 
                            position="rutas[0]"
                            subposition="rutas[1]">
                        </ng-mapside>
                        <a href="#/ecosistema" style="color: white">
                            <span class="ecosistema">Vista de ecosistema</span>
                            <i></i>
                        </a>
                    </article>
                </div>
            </section>
        </li>
    </ul>
</section>