
.title-blue{
	font-size: 40px;
    color: #117899;
}
.cursor-pointer{
	cursor: pointer;
}
.back-white{
	background-color: rgb(255,255,255);
}
.font-17{
	font-size: 17px;
}
.font-35{
	font-size: 35px;
}
.img-middle{
	width: 74px;
	height: 74px;
	margin: 20px;
	margin-top: -20px;
}
.line-height-1-5{
	line-height: 1.5;
}
.FOTO_MESA_EJECUTIVOS_png{
	background-image: url(img/FOTO_MESA_EJECUTIVOS.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.Path_53_png{
	background-image: url(img/Path_53.png);
	background-repeat: no-repeat;
	height: 300px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}
.MISSION_png{
	background-image: url(img/MISSION.png);
	height: 319px;
	background-size: cover;
	transition: .3s;
}
.MISSION_blur_png{
	background-image: url(img/CUADRO_MISSION_HOVER.png);
	height: 319px;
	background-size: cover;
	transition: .3s;
}
.VISION_png{
	background-image: url(img/VISION.png);
	height: 319px;
	background-size: cover;
	transition: .3s;
}
.VISION_blur_png{
	background-image: url(img/CUADRO_VISION_HOVER.png);
	height: 319px;
	background-size: cover;
	transition: .3s;
}

.VALUES_png{
	background-image: url(img/VALUES.png);
	height: 319px;
	background-size: cover;
	transition: .3s;
}
.VALUES_blur_png{
	background-image: url(img/CUADRO_VALUES_HOVER.png);
	height: 319px;
	background-size: cover;
	transition: .3s;
}

.QUOTE_png{
	background-image: url(img/QUOTE.png);
	height: 319px;
	background-size: cover;
	position: relative;
}
.QUOTE_png-text{
	position: absolute;
	bottom: 20px;
	right: 20px;
}
.QUOTE_png-text p{
	margin: 0;
}
.itbook-title{    z-index: 1;
    position: relative;
}
.padding-top-120{
	padding-top: 120px;
}
.height-440{
	height: 440px;
}
.padding-30{
	padding: 30px!important;
}
.content-flipped{
	width: 100%;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transform-style: preserve-3d;
    transition: transform 1s;
    height: 319px;
}
.content-flipped.flipped {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.content-flipped > div{
	width: 100%;
	margin: 0;
    display: block;
    position: absolute;
    height: 319px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    
}

.content-flipped .back{
	transform: rotateY( 180deg);
}
.position-relative{
	position: relative;
}