
.cursor-pointer{
	cursor: pointer;
}
.back-white{
	background-color: rgb(255,255,255);
}
.font-17{
	font-size: 17px;
}
.font-35{
	font-size: 35px;
}
.img-middle{
	width: 74px;
	height: 74px;
	margin: 20px;
	margin-top: -20px;
}
.line-height-1-5{
	line-height: 1.5;
}
.FOTO_MESA_EJECUTIVOS_png{
	background-image: url(img/FOTO_MESA_EJECUTIVOS.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.Path_53_png{
	background-image: url(img/Path_53.png);
	background-repeat: no-repeat;
	height: 300px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}
.MISSION_png{
	background-image: url(img/MISSION.png);
	height: 319px;
	background-size: cover;
	transition: .3s;
}
.MISSION_blur_png{
	background-image: url(img/CUADRO_MISSION_HOVER.png);
	height: 319px;
	background-size: cover;
	transition: .3s;
}
.VISION_png{
	background-image: url(img/VISION.png);
	height: 319px;
	background-size: cover;
	transition: .3s;
}
.VISION_blur_png{
	background-image: url(img/CUADRO_VISION_HOVER.png);
	height: 319px;
	background-size: cover;
	transition: .3s;
}

.VALUES_png{
	background-image: url(img/VALUES.png);
	height: 319px;
	background-size: cover;
	transition: .3s;
}
.VALUES_blur_png{
	background-image: url(img/CUADRO_VALUES_HOVER.png);
	height: 319px;
	background-size: cover;
	transition: .3s;
}

.QUOTE_png{
	background-image: url(img/QUOTE.png);
	height: 319px;
	background-size: cover;
	position: relative;
}
.QUOTE_png-text{
	position: absolute;
	bottom: 20px;
	right: 20px;
}
.QUOTE_png-text p{
	margin: 0;
}
.itbook-title{    z-index: 1;
    position: relative;
}
.padding-top-120{
	padding-top: 120px;
}
.height-440{
	height: 440px;
}
/*main.home article{
	height: 192px;
}
.author{
	margin-bottom: 70px;
}
.img-middle{
	width: 74px;
	height: 74px;
	margin: 20px;
	margin-top: 0;
}
.img-compromiso{
	margin: auto;
	width: 114px;
	height: 114px;
	display: block;
}
.img-align-bottom{
	vertical-align: bottom;
}
.text-author{

}
.text-author > p{
	margin: 5px;
}
.text-author > p:first-child{
	margin-top: 15px;
}

.list-title{
	background-color: rgba(2,104,174,.7);
	color: rgb(255,255,255);
	padding: 10px;
	font-size: 16px;
}

ul.list-body{

}
ul.list-body > li{
	padding: 10px;
	border-bottom: 1px solid rgb(255,255,255);
	font-size: 16px;
}
article > p{
	font-size: 22px;
	line-height: 1.5;
}

.back-white-transparent {
	background-color: rgb(255,255,255);
    background-image: url(img/Fondo-IT-Book_blur_web_2.png);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.back-white-transparent:before { 
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,.7);
    display: block;
    z-index: -1;
    position: absolute;
}

@media (max-height: 800px) {
	.text-large {
	     font-size: 14px; 
	}
	article > p {
	    font-size: 15px;
	    line-height: 1.2;
	}
	main.home article {
	    height: 100px;
	}
	ul.list-body > li {
	    padding: 4px;
	    font-size: 12px;
	}
	.padding-50 {
	    padding: 20px;
	}
	h1 {
	    line-height: 1;
	    font-size: 47px;
	    margin: 0;
	}
	.list-title {
	    background-color: rgba(2,104,174,.7);
	    color: rgb(255,255,255);
	    padding: 4px;
	    font-size: 13px;
	}
	.padding-bottom-30 {
	    padding-bottom: 0px;
	}
	.title-br{
        display: none;
    }
    .title-2{
    	margin-left: -20px;
    }
  	main.home.ng-scope{
    width: 100%;
    max-width: 2200px;
    margin: 150px auto 0 auto;
    padding: 0;
}
}
*/