<div class="abc-create-form-group">
    <div class="abc-create-label-multiline">
        <span>{{label}}</span>
    </div>
    <div class="abc-create-multi-select large">
        <span ng-repeat="campo in source" class="multi-select" ng-if="campo.status!==3">
            <div class="abc-create-select">
                <div class="abc-create-select-content">
                    <div class="abc-create-select-content-title" ng-click="toggleShowOptions($index)" ng-show="campo.modelSelected">{{campo.area_desc}}</div>
                    <div class="abc-create-select-content-title active" ng-click="toggleShowOptions($index)" ng-show="!campo.modelSelected">{{holders[0]}}</div>
                    <i></i>
                    <div class="abc-create-select-elements" ng-show="campo.showOptions">
                        <ul>
                            <li ng-click="selectOption($parent.$index, $index)" ng-repeat="option in options track by $index">{{option.area_desc}}</li>
                        </ul>
                    </div>
                </div><input style="border-left: none;" class="large" type="text" placeholder="{{holders[1]}}" ng-model="campo.objective" ng-keyup="saveModel(); triggerEvent();">
                <span class="abc-add-button" ng-click="addElementToSource()"><i></i></span>
                <span class="abc-delete-button" ng-show="canDelete" ng-click="deleteElementFromSource($index)"></span>
            </div>
        </span>
    </div>
</div>
