<section 
   class="back-subheader" 
   style="background-color: {{source.color}}"
   ng-class="{'activate': !openBar}">
    <a href="#/procesos">
        <i></i>
        <span>{{source.dominio}}</span>
    </a>
</section><section 
   class="subheader" 
   style="background-color: {{source.colorMegaproceso}}"
   ng-class="{'activate': !openBar}">
   
    <div 
        class="activate-left-bar" 
        ng-click="hideLeftBar()" 
        ng-class="{'activate': !openBar}"></div>
        
    <span>{{source.titulo}} / {{source.subtitulo}} {{source.proceso}} {{source.capacidad}}</span>
    
    <span 
        class="download-pdf"
        ng-click="muestraDescarga()"
        ng-show="source.capacidad !== ''">
        <i></i> 
        <span>Download diagram</span>
        <ul ng-hide="selectBoxDescargaHidden">
            <li ng-click="imprimir()">PDF Document</li>
            <li>PNG Image</li>
        </ul>
    </span>
    
    
    <div class="zoom-control" ng-show="source.capacidad !== ''">
        <div class="btn-zoom menos" ng-click="menos()"></div>
        <div class="zoom-value" ng-click="restablecer()">{{zoom}}</div>
        <div class="btn-zoom mas" ng-click="mas()"></div> 
    </div>

    
    <div class="select-box ver" ng-show="source.capacidad !== ''">
        <div ng-click="muestraVer()">Show by: <span style="text-decoration: underline; cursor:pointer;">{{ver == 0 ? 'Processes' : ver == 1 ? 'Capacities' : 'Business rules'}}</span></div>
        <ul ng-hide="selectBoxVerHidden">
            <li class="level" ng-click="clickVer(0)" ng-class="{'active': ver == 0}">
                <div>Processes</div>
                <div style="font-size: 12px;">Level 2</div>
            </li>
            <li class="level" ng-click="clickVer(1)" ng-class="{'active': ver == 1}">
                <div>Capacities</div>
                <div style="font-size: 12px;">Level 3</div>
            </li>
            <li class="level" ng-click="clickVer(2)" ng-class="{'active': ver == 2}">
                <div>Business rules</div>
                <div style="font-size: 12px;">Level 4</div>
            </li>
        </ul>
    </div>
    
    
    <div class="select-box ordenar" style="position: absolute;" ng-show="ver != 0">
        <div ng-click="muestraOrdenar()">Sort by: <span style="text-decoration: underline; cursor:pointer;">{{selected == 0 ? 'Unsorted' : selected == 1 ? 'Areas' : 'Applications'}}</span></div>
        <ul ng-hide="selectBoxOrdenarHidden">
            <li ng-click="clickOption(0)" ng-class="{'active': selected == 0}">Unsorted</li>
            <li ng-click="clickOption(1)" ng-class="{'active': selected == 1}">Areas</li>
            <li ng-click="clickOption(2)" ng-class="{'active': selected == 2}">Applications</li>
        </ul>
    </div>
</section>
