<section class="container-index">
    <div class="dominios">Megaprocesos y Macroprocesos</div>
    
    <ul class="accordion-procesos">
       
        <li 
           ng-class="{open:megaproceso.open}" 
           ng-repeat="megaproceso in megaprocesos">
           
            <div 
               ng-click="open(megaprocesos, megaproceso, $index)" 
               class="accordion-title">
                {{megaproceso.title}}<i></i>
            </div>
            
            <div 
               class="accordion-list" 
               ng-show="megaproceso.open">
               
                <ul>
                    <li 
                    ng-repeat="proceso in megaproceso.macroprocesos" 
                    ng-click="selected(megaproceso.macroprocesos, proceso, $index)" 
                    ng-class="{selected:proceso.selected}">
                    {{proceso.title}}</li>
                </ul>
                
            </div>
            
        </li>
        
        
    </ul>
</section>