<div class="abc-create-form-group">
    <div class="abc-create-label">
        <span>{{label}}</span>
    </div>
    <div class="abc-create-select">
        <div class="abc-create-select-content">
            <div class="abc-create-select-content-title" ng-click="toggleShowOptions()" ng-show="modelSelected">{{holder}}</div>
            <div class="abc-create-select-content-title active" ng-click="toggleShowOptions()" ng-show="!modelSelected">{{holder}}</div>
            <i></i>
            <div class="abc-create-select-elements" ng-show="showOptions">
                <ul>
                    <li ng-click="selectOption($index)" ng-repeat="option in options track by $index">{{option.name}}{{option.title}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>