<ng-background set="home"></ng-background>
<ng-header set-elementos-menu="elementosMenu"></ng-header>

<main class="home">
    <div class="row">
        <div class="md-col-9 sm-col-12">
            <div class="back-white-transparent">
                <h1 class="padding-top-15 opacity-80">
  			<span class="back-yellow text-white padding-15">WELCOME TO</span> <br class="title-br"/>
			<span class="back-yellow text-white padding-15 title-2">IT BOOK</span>
  		</h1>
  		<div class="padding-50">
	  		<article>
		  		<!-- <h3>TEXTO INTRODUCTORIO DE IT BOOK</h3> -->
		  		<p>
			  		Welcome and introductory text for IT Book<br/>
					MISSING... 
			  	</p>
		  	</article>
		  	<div class="author">
		  		<img class="img-middle float-right" src="app/modules/home/assets/img/FOTO_PABLO_SALAZAR.png" alt="">
		  		<div class="text-author float-right text-right">
		  			<p class="text-blue"><b>Pablo Salazar</b></p>
		  			<p><i>VP & CIO AT&T México</i></p>
		  		</div>
		  	</div>
  		</div>
  	</div>
  </div>
  <div class="md-col-3 sm-col-12 padding-0">
	  <div class="row">
		  <div class="md-col-12 sm-col-6 padding-bottom-30 ">
		  	<div class="back-white-transparent">
		  	<div class="list-title">Recently added</div>
		  	<ul class="list-body">
		  		<li>Flujo de trabajo 2016</li>
		  		<li>Estrategia 2016</li>
		  		<li>Nuevo organigrama IT</li>
		  		<li>Presupuesto para el me...</li>
		  		<li>Nuevos procedimientos</li>
		  	</ul>
		  	</div>
		  </div>
		  <div class="md-col-12 sm-col-6 padding-bottom-30">
		  <div class="back-white-transparent">
		  	<div class="list-title">Most viewed</div>
			  	<ul class="list-body">
			  		<li>Flujo de trabajo 2016</li>
			  		<li>Estrategia 2016</li>
			  		<li>Nuevo organigrama IT</li>
			  		<li>Presupuesto para el me...</li>
			  		<li>Nuevos procedimientos</li>
			  	</ul>
			  </div>
		  </div>
		  </div>
	  </div>
	</div>

	<div class="row">
		<div class="md-col-3 sm-col-6">
			<img class="img-compromiso" src="app/modules/home/assets/img/FOTO_QUOTE.png" alt="">
			<p class="text-white text-large text-center text-shadow">
				<b>
					<i>
						“Insert an AT&T quote here”
					</i>
				</b>
			</p>
		</div>
		<div class="md-col-3 sm-col-6 text-large">
			<div class="back-white-transparent" style="height: 350px;">
				<div class="padding-20">
				<img class="img-align-bottom" src="app/modules/home/assets/img/ico.mision.png" alt=""><h2 class="display-inline margin-0 margin-left-10">MISSION</h2>
				<p align="justify">Our mission is to exploit technical innovations for the benefit of AT&T and its customers by implementing next-generation technologies and network advancements in AT&T's services and operations.</p>
				</div>
			</div>
		</div>
		<div class="md-col-3 sm-col-6 text-large" >
			<div class="back-white-transparent" style="height: 350px;">
				<div class="padding-20">
			<img class="img-align-bottom" src="app/modules/home/assets/img/ico.vision.png" alt=""><h2 class="display-inline margin-0 margin-left-10">VISION</h2>
				<p align="justify">To design and create in this decade the new global network, processes, and service platforms that maximize automation, allowing for a reallocation of human resources to more complex and productive work.</p>
			</div>
			</div>
		</div>
		<div class="md-col-3 sm-col-6 text-large">
			<div class="back-white-transparent" style="height: 350px;">
				<div class="padding-20">
			<img class="img-align-bottom" src="app/modules/home/assets/img/ico.valores.png" alt=""><h2 class="display-inline margin-0 margin-left-10">VALUES</h2>
				<p align="justify">
				• 	Ethics <br/>
				• 	Honor your Word <br/>
				• 	Honesty <br/>
				• 	Respect <br/>
				• 	Family <br/>
				• 	Discipline</p>
			</div>
			</div>
		</div>
	</div>
</main>