<ng-background set="home"></ng-background>
<ng-header set-elementos-menu="elementosMenu"></ng-header>

<main class="home">
    <div class="row">
        <div class="md-col-9 sm-col-12">
            <div class="back-white-transparent">
                <h1 class="padding-top-15 opacity-80">
  			<span class="back-yellow text-white padding-15">BIENVENIDO A</span> <br class="title-br"/>
			<span class="back-yellow text-white padding-15 title-2">IT BOOK</span>
  		</h1>
  		<div class="padding-50">
	  		<article>
		  		<h3>TEXTO INTRODUCTORIO DE IT BOOK</h3>
		  		<p>
			  		Redactar un texto breve que explique qué es y para qué sirve este portal, a quién está dirigido y qué se puede hacer en él. Redactar un texto breve que explique qué es y para qué sirve este portal, a quién está dirigido y qué se puede hacer en él. Redactar un texto breve que explique qué es y para qué sirve este portal, a quién está dirigido y qué se puede hacer en él. 
			  	</p>
		  	</article>
		  	<div class="author">
		  		<img class="img-middle float-right" src="app/modules/home/assets/img/FOTO_PABLO_SALAZAR.png" alt="">
		  		<div class="text-author float-right text-right">
		  			<p class="text-blue"><b>Pablo Salazar</b></p>
		  			<p><i>VP & CIO AT&T México</i></p>
		  		</div>
		  	</div>
  		</div>
  	</div>
  </div>
  <div class="md-col-3 sm-col-12 padding-0">
	  <div class="row">
		  <div class="md-col-12 sm-col-6 padding-bottom-30 ">
		  	<div class="back-white-transparent">
		  	<div class="list-title">Añadido recientemente</div>
		  	<ul class="list-body">
		  		<li>Flujo de trabajo 2016</li>
		  		<li>Estrategia 2016</li>
		  		<li>Nuevo organigrama IT</li>
		  		<li>Presupuesto para el me...</li>
		  		<li>Nuevos procedimientos</li>
		  	</ul>
		  	</div>
		  </div>
		  <div class="md-col-12 sm-col-6 padding-bottom-30">
		  <div class="back-white-transparent">
		  	<div class="list-title">Los más vistos</div>
			  	<ul class="list-body">
			  		<li>Flujo de trabajo 2016</li>
			  		<li>Estrategia 2016</li>
			  		<li>Nuevo organigrama IT</li>
			  		<li>Presupuesto para el me...</li>
			  		<li>Nuevos procedimientos</li>
			  	</ul>
			  </div>
		  </div>
		  </div>
	  </div>
	</div>

	<div class="row">
		<div class="md-col-3 sm-col-6">
			<img class="img-compromiso" src="app/modules/home/assets/img/FOTO_QUOTE.png" alt="">
			<p class="text-white text-large text-center text-shadow">
				<b>
					<i>
						“En AT&T estamos comprometidos en elevar la competencia del sector de telecomunicaciones en México.”
					</i>
				</b>
			</p>
		</div>
		<div class="md-col-3 sm-col-6 text-large">
			<div class="back-white-transparent" style="height: 350px;">
				<div class="padding-20">
				<img class="img-align-bottom" src="app/modules/home/assets/img/ico.mision.png" alt=""><h2 class="display-inline margin-0 margin-left-10">Misión</h2>
				<p align="justify">Generar una constante innovación para el beneficio de AT&T y sus clientes implementando nueva tecnología y avances en redes y en los servicios y operaciones de AT&T México.</p>
				</div>
			</div>
		</div>
		<div class="md-col-3 sm-col-6 text-large" >
			<div class="back-white-transparent" style="height: 350px;">
				<div class="padding-20">
			<img class="img-align-bottom" src="app/modules/home/assets/img/ico.vision.png" alt=""><h2 class="display-inline margin-0 margin-left-10">Visión</h2>
				<p align="justify">Diseñar y crear una nueva red global, procesos y plataformas de servicio que maximicen la automatización, permitiendo designar el esfuerzo humano hacia trabajos más complejos y productivos.</p>
			</div>
			</div>
		</div>
		<div class="md-col-3 sm-col-6 text-large">
			<div class="back-white-transparent" style="height: 350px;">
				<div class="padding-20">
			<img class="img-align-bottom" src="app/modules/home/assets/img/ico.valores.png" alt=""><h2 class="display-inline margin-0 margin-left-10">Valores</h2>
				<p align="justify">En AT&T nos regimos bajo los valores de Ética, Lealtad, Honestidad, Respeto, Familia y Disciplina.</p>
			</div>
			</div>
		</div>
	</div>
</main>