<div class="abc-create-form-group">
    <div class="abc-create-label-multiline">
        <span>{{label}}</span>
    </div>
    <div class="abc-create-input-xl">
       <span ng-repeat="campo in source" ng-if="campo.status!==3">
           <input ng-keyup="saveModel()" 
                  style="width: 54px;" 
                  class="multi" 
                  type="text" 
                  placeholder="{{holders[0].placeholder}}" 
                  ng-model="campo.chn_ID"><input 
                  ng-keyup="saveModel()" 
                  type="text" 
                  style="width: 45px;" 
                  class="multi" 
                  placeholder="{{holders[1].placeholder}}" 
                  ng-model="campo.act_ID"><input 
                  ng-keyup="saveModel()" 
                  type="text" 
                  style="width: calc(100% - 700px);" 
                  class="multi" 
                  placeholder="{{holders[2].placeholder}}" 
                  ng-model="campo.pro_BUS"><div 
                  class="abc-create-select"  
                  style="width: 350px;">
        <div class="abc-create-select-content" style="width: 350px; border-left: none;">
            <div class="abc-create-select-content-title" ng-click="toggleShowOptions($index)" ng-show="campo.modelSelected">{{campo.name}}</div>
            <div class="abc-create-select-content-title active" ng-click="toggleShowOptions($index)" ng-show="!campo.modelSelected">Select an application</div>
            <i></i>
            <div class="abc-create-select-elements" ng-show="campo.showOptions">
                <ul>
                    <li style="text-transform: capitalize;" ng-click="selectOption($parent.$index, $index)" ng-repeat="option in options track by $index">{{option.name ? option.name : option.title}}</li>
                </ul>
            </div>
        </div>
    </div><input ng-keyup="saveModel()" type="text" style="width:250px;" class="multi" placeholder="{{holders[4].placeholder}}" ng-model="campo.func_RES"><div class="abc-add-button" ng-click="addElementToSource()"><i></i></div>
           <div class="abc-delete-button" ng-show="canDelete" ng-click="deleteElementFromSource($index)"></div>
       </span>
    </div>
    
</div>