.module-title > div {
    margin: 15px 30px;
}

.module-title > div > span {
    font-size: 28px;
    color: #4E4E4E;
}

.module-title > div > span.active {
    color: #1294BA;
}

.module-body > span {
    margin: 5px 60px;
}

.abc-cuadros {
    margin: 20px 60px;
}

.abc-cuadros > section {
    margin-bottom: 30px;
}

.abc-cuadros > section > span {
    margin-bottom: 30px;
    display: inline-block;
}

.abc-cuadros .cuadro {
    width: 100px;
    height: 100px;
    background: white;
    border: 1px solid #C3C3C3;
    display: inline-block;
    margin-left: 35px;
    margin-bottom: 10px;
    position: relative;
}

.abc-cuadros .cuadro.domain.active {
    background: #0F5B79;
    color: white;
    border: none;
}

.abc-cuadros .cuadro.macro.active {
    background: #127899;
    color: white;
    border: none;
}

.abc-cuadros .cuadro.mega.active {
    background: #EDAA37;
    color: white;
    border: none;
}

.abc-cuadros .cuadro.process.active {
    background: #2CA2CF;
    border: none;
    color: white;
}

.abc-cuadros .cuadro.capability.active {
    background: #5DA794;
    border: none;
    color: white;
}

.abc-cuadros .cuadro.business-rule.active {
    background: #A2B96D;
    border: none;
    color: white;
}

.abc-cuadros .cuadro.area.active {
    background: #F08C2C;
    border: none;
    color: white;
}

.abc-cuadros .cuadro.kpi.active {
    background: #F26C1F;
    border: none;
    color: white;
}

.abc-cuadros .cuadro.application.active {
    background: #C12E1D;
    border: none;
    color: white;
}

.abc-cuadros .cuadro > img {
    display: block;
    margin: 15px auto;
    height: 35px;
}

.abc-cuadros .cuadro > span {
    width: 100%;
    display: block;
    position: absolute;
    text-align: center;
    bottom: 0;
    height: 23px;
}

.abc-create-form-group {
    margin-bottom: 23px;
}

.abc-create-textarea-xl {
    width: 80%;
    display: inline-block;
    vertical-align: top;
}

.abc-create-textarea-xl > textarea {
    width: 100%;
    height: 119px;
    resize: none;
    border: 1px solid #CED1D2;
    padding: 12px;
}

.abc-create-textarea-xl > textarea:focus {
    outline: none;
}

.abc-create-input-xl {
    width: 80%;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.abc-create-input-xl > span {
    position: relative;
    height: 40px;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

.abc-create-input-xl > span > .numeration {
    width: 40px;
    height: 40px;
    resize: none;
    border: 1px solid #CED1D2;
    padding: 12px;
    border-right: none;
    display: inline-block;
    color: #9B9B9B;
    background: white;
    text-align: center;
    vertical-align: bottom;
}

.abc-create-input-xl > span:last-child > .abc-add-button {
    display: inline-block;
}

.abc-create-input-xl > span > input.multi {
    width: auto;
    height: 40px;
    resize: none;
    border: 1px solid #CED1D2;
    padding: 12px;
    border-left: none;
}

.abc-create-input-xl > span > input:first-child {
    border-left: 1px solid #CED1D2;
}

.abc-create-input-xl > span > input.short {
    width: 30%;
    height: 40px;
    resize: none;
    border: 1px solid #CED1D2;
    padding: 12px;
    border-right: none;
}

.abc-create-input-xl > span > input.medium {
    width: calc(70% - 40px);
    height: 40px;
    resize: none;
    border: 1px solid #CED1D2;
    padding: 12px;
}

.abc-create-input-xl > span > input.large {
    width: 70%;
    height: 40px;
    resize: none;
    border: 1px solid #CED1D2;
    padding: 12px;
}

.abc-create-input-xl > span > input.complete {
    width: 100%;
    height: 40px;
    resize: none;
    border: 1px solid #CED1D2;
    padding: 12px;
}

.abc-create-input-xl > span > input:focus {
    outline: none;
}

.abc-create-textarea,
.abc-create-label,
.abc-create-label-multiline,
.abc-create-input-text,
.abc-create-select {
    width: 100px;
    display: inline-block;
    vertical-align: top;
}

.abc-create-label > span {
    height: 40px;
    line-height: 40px;
}

.abc-create-select > div {
    width: 350px;
    height: 40px;
    line-height: 40px;
    background: white;
    border: 1px solid #CED1D2;
    position: relative;
}

.abc-create-select > div > input {
    padding: 0 20px;
    width: 100%;
    border: none;
}

.abc-create-select > div > i {
    display: inline-block;
    position: absolute;
    background: url(../../../../assets/img/abc-create/drop-down.png);
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
}

.abc-create-select > div > .abc-create-select-elements {
    position: relative;
    height: 40px;
    z-index: 10;
}

.abc-create-select > div > .abc-create-select-elements ul {
    position: relative;
    margin-left: -1px;
    margin-top: -2px;
    height: auto;
    max-height: 120px;
    width: 350px;
    background: white;
    border: 1px solid #CED1D2;
    overflow: auto;
    overflow-x: hidden;
    box-shadow: 0 3px 9px -2px rgba(0, 0, 0, 0.1);
}

.abc-create-select > div > .abc-create-select-elements ul li {
    padding: 0 20px;
    border-bottom: 1px solid #CED1D2;
    height: 42px;
    line-height: 42px;
    color: #9B9B9B;
    cursor: pointer;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
}

.abc-create-select > div > .abc-create-select-elements ul li:hover {
    color: #4E4E4E;
}

.abc-create-select > div > .abc-create-select-elements ul li:last-child {
    border: none;
}

.abc-create-textarea > textarea {
    height: 119px;
    width: 350px;
    resize: none;
    border: 1px solid #CED1D2;
    padding: 12px;
}

.abc-create-textarea > textarea:focus {
    outline: none;
}

.abc-create-input-text > input {
    height: 40px;
    width: 350px;
    border: 1px solid #CED1D2;
    line-height: 40px;
    padding: 0 12px;
}

.abc-create-input-text > span {
    color: red;
    font-size: 14px;
    width: 350px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    font-family: 'SF Medium';
}

.abc-create-button {
    width: 145px;
    height: 45px;
    line-height: 45px;
    border: 2px solid #117899;
    color: #117899;
    text-align: center;
    font-size: 14px;
    font-family: 'SF Medium';
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 0 10px 20px 0;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
}

.abc-create-button:hover {
    background: #117899;
    color: white;
}

.abc-create-button:active {
    background: #1596bf;
    color: white;
}

.abc-create-button.disabled {
    color: white;
    border-color: #DBDBDB;
    background: #DBDBDB;
}

.container-buttons-right {
    float: right;
}

.abc-separator-line {
    width: 100%;
    height: 1px;
    background: #AFAFAF;
    margin-bottom: 20px;
    display: inline-block;
}

.abc-create-label-multiline {
    height: 40px;
    line-height: 17px;
    padding-right: 10px;
}

.abc-add-button {
    border-radius: 2px;
    width: 40px;
    height: 40px;
    background: #2CA2CF;
    position: absolute;
    right: -50px;
    top: 0;
    display: none;
    cursor: pointer;
}

.abc-add-button > i {
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 19px;
    height: 19px;
    background: url(../../../../assets/img/add.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}

.abc-delete-button {
    position: absolute;
    width: 15px;
    height: 15px;
    background: url(../../../../assets/img/delete.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    right: 10px;
    top: 13px;
    cursor: pointer;
}

.abc-create-upload-button {
    display: inline-block;
    vertical-align: bottom;
    width: 130px;
    height: 40px;
    line-height: 36px;
    text-align: center;
    border: 2px solid #117899;
    color: #117899;
    text-transform: uppercase;
    font-family: 'SF Medium';
}

.abc-create-file-extension {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #CED1D2;
    background: white;
    height: 40px;
    line-height: 36px;
    padding-left: 30px;
    width: 350px;
    color: #117899;
    font-size: 14px;
    border-left: none;
}

.abc-create-edit-button {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border: 1px solid #CED1D2;
    position: relative;
    border-left: none;
}

.abc-create-edit-button > i {
    background: url(../../../../assets/img/edit.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    display: inline-block;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 7px;
    left: 7px;
}

.abc-create-delete-button {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border: 1px solid #CED1D2;
    position: relative;
    border-left: none;
}

.abc-create-delete-button > i {
    background: url(../../../../assets/img/delete.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    display: inline-block;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 7px;
    left: 7px;
}

.abc-create-upload {
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    padding-top: 20px;
}

.multi-select {
    display: inline-block;
    margin: 0 0 10px 0;
    width: 400px;
}

.multi-select > .abc-create-select {
    position: relative;
    width: 100%;
}

.multi-select > .abc-create-select > .abc-create-select-content {
    display: inline-block;
    vertical-align: bottom;
}

.abc-create-select-content-title {
    padding-left: 10px;
    cursor: pointer;
}

.abc-create-select-content-title.active {
    padding-left: 10px;
    cursor: pointer;
    color: #9B9B9B;
}

.abc-create-multi-select {
    width: 100px;
    display: inline-block;
    vertical-align: top;
}

.abc-create-multi-select.large {
    width: 80%;
}

.abc-create-multi-select.large .multi-select {
    width: 100%;
}

.abc-create-multi-select > span:last-child > .abc-create-select > .abc-add-button {
    display: inline-block;
}

.diagrama-section {
    width: 100%;
    height: calc(100vh - 300px);
    background: white;
    overflow: auto;
    min-height: 430px;
}

.diagrama-section-data {
    display: inline-block;
    width: 100%;
    font-size: 16px;
}

.diagrama-section-data-label {
    width: 140px;
    display: inline-block;
    padding: 20px;
    padding-bottom: 0;
}

.diagrama-section-data-content {
    display: inline-block;
}

.diagrama-section-macroprocess {
    padding: 20px;
    font-size: 30px;
}

.diagrama-creation > .dc-procesos:first-child {
    margin-left: 20px;
}

.dc-procesos {
    display: inline-block;
    width: 176px;
    vertical-align: top;
    position: relative;
}

.dc-procesos-flecha {
    position: absolute;
    width: 32px;
    height: 16px;
    right: 0;
    top: 30px;
    background: url(../../../../assets/img/flecha-diagram.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.dc-process,
.dc-capacidad {
    height: 80px;
    width: 145px;
    display: inline-block;
    border: 1px solid #979797;
    margin-right: 10px;
    vertical-align: top;
    position: relative;
    padding: 5px;
}

.dc-process.active,
.dc-capacidad.active {
    border: 1px solid #30A3CF;
}

.dc-process.off,
.dc-capacidad.off {
    background: #fafafa;
}

.dc-process.off > .dc-process-number,
.dc-process.off > .dc-process-name,
.dc-capacidad.off > .dc-capacidad-number,
.dc-capacidad.off > .dc-capacidad-name {
    display: none;
}

.dc-process.off:after,
.dc-capacidad.off:after {
    content: 'Add';
    color: #30A3CF;
    font-size: 14px;
    width: 100%;
    display: inline-block;
    text-align: center;
    line-height: 80px;
}

.dc-capacidad {
    margin-top: 37px;
    transition: all ease 0.3s;
}

.dc-capacidad.redondeado {
    border-radius: 50px;
}

.dc-capacidad.paralelo {
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    transform: skew(-20deg);
}
.dc-capacidad.paralelo > span {
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg);
    display: block;
}

.dc-capacidad.rombo,
.dc-capacidad.rombo-tache {
    transform: rotate(135deg) skew(15deg, 15deg) translate(-17px, -17px);
    width: 80px;
}

.dc-capacidad.rombo span,
.dc-capacidad.rombo-tache span {
    display: inline-block;
    transform: translate(-4px, 14px) skew(-15deg, -15deg) rotate(-135deg);
    font-size: 11px;
    height: 60px;
    position: absolute;
    left: 10px;
    top: -10px;
}

.dc-capacidad.rombo span.dc-capacidad-number,
.dc-capacidad.rombo-tache span.dc-capacidad-number {
    position: absolute;
    right: 50px;
    height: 10px;
    top: 45px;
}

.dc-capacidad-conector-no,
.dc-capacidad-conector-yes {
    position: absolute;
    font-size: 11px;
}

.dc-capacidad-conector-yes {
    right: -11px;
    bottom: -33px;
    width: 145px;
    text-align: center;
    display: inline-block;
}

.dc-capacidad-conector-no {
    left: 0;
    top: 40px;
}

.dc-process-name,
.dc-capacidad-name {
    width: 100%;
    text-align: center;
    display: inline-block;
    padding-top: 5px;
}

.dc-process-number,
.dc-capacidad-number {
    color: #2DA3D0;
    font-family: 'SF Medium';
}

.dc-capacidad-attributes {
    margin-bottom: 10px;
}

.dc-capacidad-attributes:last-child {
    margin: 0;
}

.dc-capacidad-attributes > span {
    display: block;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: white;
    width: 145px;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
}

.dc-capacidad-attributes > span.dc-area {
    background: #B43A7D;
}

.dc-capacidad-attributes > span.dc-app {
    background: #6553BA;
}

.dc-capacidad-attributes > span.dc-kpi {
    background: #50BEC5;
}

.abc-create-form-title {
    font-size: 16px;
    color: #30A3CF;
    margin-bottom: 20px;
    font-family: 'SF Medium';
}

.dc-capacidades {
    position: relative;
    display: inline-block;
    width: 145px;
}

.dc-capacidad-connection {
    position: absolute;
    width: 2px;
    height: 37px;
    background: #9c9c9c;
    top: 0;
    left: 70px;
}

ul.header-diagrama {}

ul.header-diagrama > li {
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    background: #EBEBEB;
    color: #525252;
    border-radius: 8px 8px 0 0;
    font-size: 16px;
    font-family: 'SF Medium';
    position: relative;
    cursor: pointer;
    box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

ul.header-diagrama > li:last-child {
    margin-left: -30px;
}

ul.header-diagrama > li.active {
    background: #2CA2CF;
    color: white;
    z-index: 1;
}

.abc-diagrama-instructions {
    margin: 30px 0 30px 30px;
    font-size: 16px;
}

.abc-diagrama-options {
    margin-left: 30px;
}

.abc-diagrama-sidebar {
    width: 40%;
    display: inline-block;
    overflow: auto;
    padding-bottom: 100px;
    height: calc(100vh - 130px);
}

.abc-diagrama-canvas {
    width: 58%;
    display: inline-block;
    vertical-align: top;
    float: right;
}

ul.abc-radio-elements {
    display: inline-block;
    width: 350px;
    line-height: 40px;
}

ul.abc-radio-elements > li.abc-radio-element {
    display: inline-block;
    width: 50%;
    cursor: pointer;
}

.abc-radio-element > i {
    width: 12px;
    height: 12px;
    display: inline-block;
    background: url(../../../../assets/img/radio-off.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.abc-radio-element.active > i {
    width: 12px;
    height: 12px;
    display: inline-block;
    background: url(../../../../assets/img/radio-on.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.abc-create-select > input {
    width: calc(100% - 350px);
    height: 40px;
    resize: none;
    border: 1px solid #CED1D2;
    padding: 12px;
}

section.container-card > div.card > article.frontside.abc-edit-ba {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../../../assets/img/imagen_T_b.png);
}

section.container-card > div.card > article.frontside.abc-edit-aa {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../../../assets/img/imagen_BA_b.png);
}

section.container-card > div.card > article.frontside.abc-edit-ta {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../../../assets/img/imagen_IS_b.png);
}

.abc-edit-buttons {
    margin: 80px auto 30px auto;
    width: 310px;
}

.abc-edit-buttons > div {
    width: 290px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: white;
    font-size: 23px;
    text-transform: uppercase;
    font-family: 'SF Medium';
    border: 2px solid white;
    margin: 10px;
    background-color: rgba(236, 201, 67, 0);
    transition: all ease 0.3s;
}

.abc-edit-buttons > div:hover {
    color: #323232;
    border: 2px solid rgba(236, 201, 67, 1);
    background-color: rgba(236, 201, 67, 1);
}

.abc-activate-edition {
    position: fixed;
    width: 215px;
    height: 45px;
    display: inline-block;
    right: 50px;
    top: 150px;
    overflow: hidden;
    border: 2px solid #1294BA;
}

.abc-activate-edition nav a {
    display: inline-block;
    width: 50%;
    text-align: center;
    line-height: 45px;
    font-family: 'SF Medium';
    color: #1294BA;
    text-transform: uppercase;
}

.abc-activate-edition nav a.active {
    color: white;
    background-color: #1294BA;
}

.abc-activate-edition nav a:last-child {
    border-left: 2px solid #1294BA;
}

.abc-alert-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    z-index: 100;
    overflow: hidden;
}

.abc-alert-container > .abc-alert {
    width: 404px;
    height: 272px;
    background: white;
    position: relative;
    margin: 300px auto;
    box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.1);
}

.abc-alert-container > .abc-alert > .abc-alert-header {
    width: 100%;
    height: 55px;
    background-color: #A2B96D;
    color: white;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
}

.abc-alert-container > .abc-alert.red > .abc-alert-header {
    background-color: #C12E1D;
}

.abc-alert-container > .abc-alert.blue > .abc-alert-header {
    background-color: #4A90E2;
}

.abc-alert-container > .abc-alert > .abc-alert-body {
    width: 100%;
    padding: 30px;
    text-align: center;
    font-size: 16px;
    color: #4E4E4E;
}

.abc-alert-container > .abc-alert > .abc-alert-body > .abc-alert-button {
    width: 90px;
    height: 44px;
    line-height: 44px;
    font-family: 'SF Medium';
    text-align: center;
    color: #A2B96D;
    border: 2px solid #A2B96D;
    margin: 40px auto;
    cursor: pointer;
    transition: all ease 0.3s;
}

.abc-alert-container > .abc-alert.red > .abc-alert-body > .abc-alert-button {
    color: #C12E1D;
    border: 2px solid #C12E1D;
}

.abc-alert-container > .abc-alert.blue > .abc-alert-body > .abc-alert-button {
    color: #4A90E2;
    border: 2px solid #4A90E2;
}

.abc-alert-container > .abc-alert > .abc-alert-body > .abc-alert-button:hover {
    background-color: #A2B96D;
    color: white;
}

.abc-alert-container > .abc-alert.red > .abc-alert-body > .abc-alert-button:hover {
    background-color: #C12E1D;
    color: white;
}

.abc-alert-container > .abc-alert.blue > .abc-alert-body > .abc-alert-button:hover {
    background-color: #4A90E2;
    color: white;
}

.wrapper-formas {
    width: 650px;
    height: 95px;
    background: white;
}

.container-formas {
    width: 450px;
    overflow: auto;
    border: 1px solid #CED1D2;
    margin-bottom: 30px;
    overflow-y: hidden;
}

.warning-text {
    color: red;
    font-family: 'SF Medium';
    margin-top: -15px;
    margin-bottom: 15px;
    margin-left: 103px;
}

.wrapper-formas > div {
    cursor: pointer;
    margin-top: 20px;
}

.wrapper-formas > div.redondeado {
    width: 100px;
    height: 54px;
    margin-left: 20px;
}

.wrapper-formas > div.rombo {
    width: 54px;
    height: 54px;
}

.wrapper-formas > div.rombo-tache {
    margin-left: 60px;
    width: 54px;
    height: 54px;
}

.wrapper-formas > div.paralelo {
    width: 100px;
    height: 54px;
    margin-left: 20px;
}

.wrapper-formas > div.rectangulo {
    margin-left: 60px;
    width: 100px;
    height: 54px;
}

.wrapper-formas > div.active {
    background: rgba(245, 245, 245, 0.5);
}

.texto-barra-procesos {
    transform: rotate(90deg);
    display: block;
    left: -12px;
    position: absolute;
    top: 30px;
}

.texto-barra-capacidades {
    transform: rotate(90deg);
    display: block;
    position: absolute;
    left: -24px;
    top: 40px;
}

.texto-barra-reglas {
    transform: rotate(90deg);
    display: block;
    position: absolute;
    left: -45px;
    width: 120px;
    top: 60px;
}

abc-special-select.filter-type {
    /*margin-left: 20px;
    margin-top: 20px;*/
}

abc-special-select.filter-type > div.abc-create-form-group {
    display: inline-block;
    float: left;
    margin-left: 20px;
    margin-top: 13px;
}