<ng-background set="ap"></ng-background>
<ng-header set-elementos-menu="elementosMenu"></ng-header>
<main class="admin">
	
	<div class="application-header">
		<div><span class="title-blue">Applications Catalog</span>
			<div class="filter">
				<input placeholder="Filter by name" type="text" ng-model="filterModel" ng-keyup="find(filterModel)">
				<i class=""></i>
			</div>
		</div>
		<span>Total: {{aplicaciones.length}} applications</span>
	</div>
	
	
	<div class="viewer">
		
		<ul class="filter-abc">
			<li ng-click="viewer.findAll()" ng-class="{active: (viewer.filterBy == 'all')}">View all</li>
			<li ng-repeat="letter in abc" ng-click="findByCapital(letter)" ng-class="{active: (viewer.filterBy == letter)}">{{letter}}</li>
		</ul>

		<div class="row">
    		<div ng-repeat="item in viewer.items" class="lg-col-3 md-col-4 sm-col-6 ">
    			<span>{{item.name}}</span>
    		</div>
    	</div>

	<div class="pager">
		<i class="left" ng-click="viewer.back()"></i>
    	<ul>
    		<li ng-click="viewer.goTo($index)" ng-repeat="page in viewer.pages" ng-class="{active: ($index==viewer.indexPageNow)  }">{{page.number}}</li>
    	</ul>
    	<i class="right" ng-click="viewer.forw()"></i>
    </div>
	</div>

</main>