<div class="abc-create-form-group">
    <div class="abc-create-label-multiline">
        <span>{{label}}</span>
    </div>
    <div class="abc-create-input-xl">
       <span ng-repeat="term in source">
           <input class="short" type="text" placeholder="{{holders[0]}}" ng-model="term.name"><input class="large" type="text" placeholder="{{holders[1]}}" ng-model="term.definition"><div class="abc-add-button" ng-click="addElementToSource()"><i></i></div>
           <div class="abc-delete-button" ng-show="canDelete" ng-click="deleteElementFromSource($index)"></div>
       </span>
    </div>
    
</div>