<span>2. Area information</span>
<ul class="abc-create-form">
    <li>
        <abc-textarea title="Area name (max. 80 characters)" model="name" label="Name" event="toggleActiveButton"></abc-textarea>
    </li>
    <li>
        <abc-radio label="Area type" options="typeOptions" model="type" ></abc-radio>
    </li>
    <li>
        <div class="container-buttons-right" ng-hide="update">
            <div class="abc-create-button" ng-click="clear()">Clear</div>
            <div class="abc-create-button" ng-class="{'disabled': !canSave}" ng-click="save()">Save</div>
        </div>
        <div class="container-buttons-right" ng-show="update">
            <div class="abc-create-button" ng-click="delete()">Delete</div>
            <div class="abc-create-button" ng-click="update()">Update</div>
        </div>
    </li>
</ul>