<ng-background></ng-background>
<ng-header set-elementos-menu="elementosMenu"></ng-header>
<main style="padding-left: 0; padding-right: 0;">
    <section class="header-vista-ecosistemas">
        <div class="btn-vista-procesos" ng-click="goProcesos()"></div>
        <div class="ttl-vista-procesos">Business Architecture E2E AT&T (67 Macroprocesos)</div>
    </section>
    <section class="body-vista-ecosistemas">
        <figure class="lista-ecosistemas">
            <img src="/app/modules/ecosistema/assets/img/Group.png" alt="">
        </figure>
    </section>
</main>