<span>2. Macroprocess information</span>
<ul class="abc-create-form">
    <li>
        <abc-select label="Megaprocess" holder="Select a Megaprocess" model="mega" event="toggleActiveButton" options="megaprocesos"></abc-select>
    </li>
    <li>
        <abc-textarea title="Name (max. 100 characters)" model="name" label="Name" event="toggleActiveButton"></abc-textarea>
    </li>
</ul>



<div class="abc-separator-line"></div>
<span>3. Version control</span>
<ul class="abc-create-form">
    <li>
        <abc-input title="day / month / year" model="date" label="Date" event="toggleActiveButton">
        </abc-input>
    </li>
    <li>
        <abc-input title="Author's name" model="author" label="Author" event="toggleActiveButton">
        </abc-input>
    </li>
    <li>
        <abc-input title="Version" model="version" label="Version" event="toggleActiveButton">
        </abc-input>
    </li>
    <li>
        <abc-input title="Descripción" model="version_desc" label="Descripción" event="toggleActiveButton">
        </abc-input>
    </li>
</ul>


<div class="abc-separator-line"></div>
<span>4. Select an area and add it with the + button:</span>
<ul class="abc-create-form">
    <li>
        <abc-add-select label="Process owner" holder="'Select Area'" model="processOwner" event="toggleActiveButton" options="areas"></abc-add-select>
    </li>
</ul>



<div class="abc-separator-line"></div>
<ul class="abc-create-form">
    <li>
        <abc-textarea-xl label="Macroprocess Objective" title="Macroprocess Objective (max. 2000 characters)" model="macroProcessObjective" event="toggleActiveButton"></abc-textarea-xl>
    </li>
    <li>
        <abc-add-select-obj label="Associated Business Objectives" holders="['Select Area', 'Objective']" model="associatedBusinessObjectives" event="toggleActiveButton" options="areas"></abc-add-select-obj>
    </li>
</ul>



<div class="abc-separator-line"></div>
<ul class="abc-create-form">
    <li>
        <abc-textarea-xl label="Scope" title="Scope (max. 2000 characters)" model="macroprocessScope" event="toggleActiveButton"></abc-textarea-xl>
    </li>
</ul>



<div class="abc-separator-line"></div>
<abc-add-input-xl label="Assumptions" holder="'Add an assumption'" model="assumptions" event="toggleActiveButton"></abc-add-input-xl>



<div class="abc-separator-line"></div>
<abc-add-input-double label="Term Glossary" holders="['Term (max. 20 characters)', 'Definition (max. 200 characters)']" model="termGlossary" event="toggleActiveButton"></abc-add-input-double>



<div class="abc-separator-line"></div>
<ul class="abc-create-form">
    <li>
        <abc-textarea-xl label="Non Functional Requeriments" title="Operation system report (max. 1000 characters)" model="nonFunctionalRequeriments" event="toggleActiveButton"></abc-textarea-xl>
    </li>
</ul>


<div class="abc-separator-line"></div>
<abc-add-numeric-input label="SLA Service Level Agreement" holders="['Description', 'SLA']" model="sla" event="toggleActiveButton"></abc-add-numeric-input>


<div class="abc-separator-line"></div>
<ul class="abc-create-form">
    <li>
        <abc-textarea label="Security" model="security" title="Security (max. 500 characters)" event="toggleActiveButton"></abc-textarea>
    </li>
</ul>



<div class="abc-separator-line"></div>
<abc-add-input-file label="Operative reports" holders="['Name', 'Description']" model="operativeReports" event="toggleActiveButton" name-file="operative" tipo="operative"></abc-add-input-file>



<div class="abc-separator-line"></div>
<ul class="abc-create-form">
    <li>
        <abc-textarea-xl label="Operation system report" title="Operation system report (max. 1000 characters)" model="operationSystemReport" event="toggleActiveButton"></abc-textarea-xl>
    </li>
</ul>

<div class="abc-separator-line"></div>
<abc-add-input-multiple label="Process Changes" holders="[{placeholder:'ID', width: '54px'}, {placeholder:'Activity', width: '85px'}, {placeholder: 'Project / Initiative / Business', width: 'calc(100% - 419px)'}, {placeholder: 'Business Rule', width: '280px'}]" model="processChanges" event="toggleActiveButton"></abc-add-input-multiple>




<div class="abc-separator-line"></div>
<abc-add-input-file label="Attachments" holders="['Name', 'Description']" model="attachments" event="toggleActiveButton" name-file="attach" tipo="attach"></abc-add-input-file>


<ul class="abc-create-form">
    <li>
        <div class="container-buttons-right">
            <div class="abc-create-button" ng-click="clear()">Clear</div>
            <div class="abc-create-button" ng-class="{'disabled': !canSave}" ng-click="save()">Save</div>
        </div>
    </li>
</ul>